.single-responsive-image-v3 {
  display: flex;
  align-items: stretch;
}
.single-responsive-image-v3__picture {
  width: 100%;
  width: var(--image-width-mobile, 100%);
  grid-area: main;
  grid-area: var(--image-grid-area, main);
  position: relative;
  position: var(--image-position, relative);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 0;
  display: flex;
  z-index: var(--image-z-index);
  border: calc(var(--image-border-width) / var(--desktop-design-reference) * var(--screen-width-static)) var(--image-border-style) var(--image-border-colour);
}
@media screen and (min-width: 768px) {
  .single-responsive-image-v3__picture {
    width: 100%;
    width: var(--image-width-portrait, 100%);
  }
}
@media screen and (min-width: 1024px) {
  .single-responsive-image-v3__picture {
    width: 100%;
    width: var(--image-width, 100%);
  }
}
.single-responsive-image-v3__image {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-fit: var(--image-fit-style, cover);
  object-fit: var(--image-fit-style, cover);
  position: relative;
  -o-object-position: var(--image-object-position-align);
  object-position: var(--image-object-position-align);
  translate: var(--image-offset-horiz) var(--image-offset-vert);
  opacity: 1;
  opacity: var(--image-opacity, 1);
  aspect-ratio: var(--image-aspect-ratio-mobile, var(--image-aspect-ratio-desktop));
  border-radius: var(--image-border-radius);
  min-height: calc(var(--image-min-height-mobile) - (0px - var(--cancel-header-height)));
  min-height: calc(var(--image-min-height-mobile) - (var(--global-site-header-height, 0px) - var(--cancel-header-height)));
}
@media screen and (min-width: 768px) {
  .single-responsive-image-v3__image {
    aspect-ratio: var(--image-aspect-ratio-portrait);
  }
}
@media screen and (min-width: 1024px) {
  .single-responsive-image-v3__image {
    aspect-ratio: var(--image-aspect-ratio-desktop);
    min-height: calc(var(--image-min-height-desktop) - (0px - var(--cancel-header-height)));
    min-height: calc(var(--image-min-height-desktop) - (var(--global-site-header-height, 0px) - var(--cancel-header-height)));
  }
}
