@use 'NodeModules/@total_onion/onion-library/components/fields-core-mixins-v3/core-mixins-v3';
@use 'NodeModules/@total_onion/onion-library/components/fields-core-functions-v3/core-functions-v3';
@use 'Assets/scss/theme/breakpoints';
@use 'Assets/scss/blocks/social-networks-v3/social-networks-v3-extra';
@use 'NodeModules/@total_onion/onion-library/components/component-content-container-settings-v3/content-container-settings-v3';
.social-networks-v3 {
	@include content-container-settings-v3.contentContainerSettingsV3();
	pointer-events: all;
	display: flex;
	flex-direction: column;
	gap: core-functions-v3.fluidSize(10);

	@include social-networks-v3-extra.additionalStyles();
}
