.single-column-container-v3 {
  display: grid;
  grid-template: "main"/1fr;
  align-items: center;
  justify-items: center;
  place-items: center;
  position: relative;
}
.single-column-container-v3__block-container {
  display: grid;
  grid-area: main;
  z-index: 5;
  width: 100%;
}
