@use '../component-breakpoints/breakpoints';
@use 'Assets/scss/modules/library-modules/responsive-image/responsive-image';
@use 'Assets/scss/modules/library-modules/responsive-video/responsive-video';
@use 'NodeModules/@pernod-ricard-global-cms/cblvideocontroller/vc-styles';
@use 'Assets/scss/blocks/single-video/single-video-extra';

.single-video {
	display: grid;
	grid-template: 'main' / 1fr;
	@include vc-styles.basic();
	@include responsive-image.responsiveImage();
	@include responsive-video.responsiveVideo();
	&__picture {
		position: absolute;
		top: 0;
		z-index: 1;
	}

	&__video-container {
		position: relative;
		z-index: 2;
	}

	&__video-play-button-container {
		display: grid;
		place-self: center;
		place-items: center;
		grid-area: main;
	}

	&__inner-container {
		grid-area: main;
	}

	@include single-video-extra.additionalStyles();
}
