@use '../component-grid-layout-element-v3/grid-layout-element-v3';
@use '../component-grid-layout-container-v3/grid-layout-container-v3';
@use '../component-flex-layout-container-v3/flex-layout-container-v3';

.sub-group-container-v3 {
	display: grid;
	grid-template: 'main' / 1fr;
	place-items: center;
	&__grid-container {
		grid-area: main;
		place-self: stretch;
		&.flex-layout-container {
			@include flex-layout-container-v3.flexLayoutContainer();
		}
		&.grid-layout-container {
			@include grid-layout-container-v3.gridLayoutContainer();
		}
	}
	&__block-container {
		z-index: 5;
		pointer-events: none;
		position: relative;
		@include grid-layout-element-v3.gridLayoutElement();
	}
}
