@use '../fields-core-mixins-v3/core-mixins-v3';
@use '../fields-core-functions-v3/core-functions-v3';
@use '../../breakpoints';
@mixin coreCssSizingVarsV3() {
	@layer base-styles {
		body {
			--screen-width: var(--screen-width-mobile);
			--font-reference: var(--font-reference-mobile);
			--design-reference: var(--mobile-design-reference);
			@include core-mixins-v3.device(breakpoints.$tabPortrait) {
				--screen-width: var(--screen-width-portrait);
				--font-reference: var(--font-reference-portrait);
				--design-reference: var(--portrait-design-reference);
			}
			@include core-mixins-v3.device(breakpoints.$tabLandscape) {
				--screen-width: var(--screen-width-landscape);
				--font-reference: var(--font-reference-landscape);
				--design-reference: var(--landscape-design-reference);
			}
			@include core-mixins-v3.device(breakpoints.$desktop) {
				--screen-width: var(--screen-width-desktop);
				--font-reference: var(--font-reference-desktop);
				--design-reference: var(--desktop-design-reference);
			}
			@include core-mixins-v3.device(breakpoints.$desktop-fullhd) {
				--screen-width: var(--screen-width-fullhd);
				--font-reference: var(--font-reference-fullhd);
				--design-reference: var(--fullhd-design-reference);
			}
		}
		body {
			//defaults (can be overridden by cms or block code later on)
			--mobile-inline: 20;
			--portrait-inline: 40;
			--landscape-inline: 40;
			--desktop-inline: 40;
			--screen-width-fullhd: 1920px;
			--font-reference-fullhd: 1920px;
			--screen-width-desktop: 1440px;
			--font-reference-desktop: 1440px;
			--screen-width-landscape: 100vw;
			--font-reference-landscape: 100vw;
			--screen-width-portrait: 100vw;
			--font-reference-portrait: 100vw;
			--font-reference-mobile: 375px;
			--screen-width-mobile: 375px;
			--screen-width-static: 1440px;
			--fullhd-design-reference: 1920;
			--desktop-design-reference: 1440;
			--landscape-design-reference: 1440;
			--portrait-design-reference: 1440;
			--mobile-design-reference: 375;

			--global-inline-spacing: #{core-functions-v3.fluidSize(
					var(--mobile-inline)
				)};

			@include core-mixins-v3.device(breakpoints.$tabPortrait) {
				--global-inline-spacing: #{core-functions-v3.fluidSize(
						var(--portrait-inline, 40)
					)};
			}

			@include core-mixins-v3.device(breakpoints.$tabLandscape) {
				--global-inline-spacing: #{core-functions-v3.fluidSize(
						var(--landscape-inline, 40)
					)};
			}

			@include core-mixins-v3.device(breakpoints.$desktop) {
				--global-inline-spacing: #{core-functions-v3.fluidSize(
						var(--desktop-inline, 40)
					)};
			}
		}

		body {
			--heading-block-spacing: var(--heading-block-spacing-mobile);

			@include core-mixins-v3.device(breakpoints.$tabPortrait) {
				--heading-block-spacing: var(--heading-block-spacing-portrait);
			}

			@include core-mixins-v3.device(breakpoints.$tabLandscape) {
				--heading-block-spacing: var(--heading-block-spacing-desktop);
			}
		}
		body {
			--paragraph-block-spacing: var(--paragraph-block-spacing-mobile);

			@include core-mixins-v3.device(breakpoints.$tabPortrait) {
				--paragraph-block-spacing: var(
					--paragraph-block-spacing-portrait
				);
			}

			@include core-mixins-v3.device(breakpoints.$tabLandscape) {
				--paragraph-block-spacing: var(
					--paragraph-block-spacing-desktop
				);
			}
		}
		body {
			--list-item-block-spacing: var(--list-item-block-spacing-mobile);

			@include core-mixins-v3.device(breakpoints.$tabPortrait) {
				--list-item-block-spacing: var(
					--list-item-block-spacing-portrait
				);
			}

			@include core-mixins-v3.device(breakpoints.$tabLandscape) {
				--list-item-block-spacing: var(
					--list-item-block-spacing-desktop
				);
			}
		}
		body {
			--global-content-max-width: #{core-functions-v3.fluidSize(
					var(--global-content-max-width-setting),
					'static'
				)};
		}
	}
} // End of mixin
