@use '../fields-core-mixins-v3/core-mixins-v3';
@use '../fields-core-functions-v3/core-functions-v3';
@use '../../breakpoints';

@mixin better-reviews() {
	&__better-reviews {
		place-self: var(--horizontal-alignment, center);
	}

	--better-reviews-filled-star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.86 26"><path d="M27.86,10.12l-7.24,6.46,1.99,9.42-8.68-4.71-8.68,4.54,1.99-9.43L0,9.95l9.77-1.22L13.93,0l4.16,8.73,9.77,1.4Z" fill="%23ECFC34"/></svg>');
	--better-reviews-no-fill-star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.86 26"><path d="M27.86,10.12l-7.24,6.46,1.99,9.42-8.68-4.71-8.68,4.54,1.99-9.43L0,9.95l9.77-1.22L13.93,0l4.16,8.73,9.77,1.4Z" opacity="0.3" fill="%230f8d86" /></svg>');
	--better-reviews-half-fill-star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.86 25.82" fill="%23ECFC34"><path d="M13.93 0L9.77 8.72 0 9.94l7.24 6.46-1.99 9.42 8.68-4.53h0V0z"/></svg>');
	--better-reviews-font-size: core-functions-v3.fontSize(16, 'static');
	--better-reviews-text-colour: #ffffff;

	.better-reviews__review {
		display: flex;
		font-family: var(--secondary-font-family);
		gap: 5px;
		width: 100%;
		max-width: var(--global-content-max-width);
		margin-left: auto;
		margin-right: auto;
		padding-top: 15px;
		padding-bottom: 15px;
		align-items: center;
		justify-content: var(--horizontal-alignment);

		.better-reviews__criteria-review-count {
			font-size: var(--better-reviews-font-size);
			font-family: var(--secondary-font-family);
			color: var(--better-reviews-text-colour);
		}

		.better-reviews__review-title {
			font-family: var(--secondary-font-family);
			font-size: var(--better-reviews-font-size);
			font-weight: 400;
			margin-bottom: 0;
			display: none;
		}

		.better-reviews__cta {
			border: 0;
			cursor: pointer;
			background-color: transparent;
			font-family: var(--secondary-font-family);
			font-size: var(--better-reviews-font-size);
			font-weight: 500;
			text-decoration: underline;
			display: inline-block;
			padding-top: 4px;
			padding-bottom: 4px;
			appearance: none;
			padding-left: unset;
			color: var(--better-reviews-text-colour);
		}

		.better-reviews__cta-container {
			order: 1;
		}

		.better-reviews__average {
			display: flex;
			gap: 5px;
			align-items: center;
			order: 2;

			.better-reviews__criteria-stars {
				--better-reviews-star-width: 110px;
				position: relative;
				background-image: var(--better-reviews-filled-star);
				width: var(--better-reviews-star-width);
				height: 16px;
				background-clip: content-box;
				background-repeat: space;
				background-size: 16px auto;
				background-position: 0% 33%;
			}

			.better-reviews__criteria-stars:before {
				content: '';
				display: block;
				position: absolute;
				width: var(--better-reviews-star-width);
				height: 100%;
				transform: scaleX(-1);
				opacity: 0.4;
				background-image: var(--better-reviews-filled-star);
				background-clip: content-box;
				background-repeat: space;
				background-size: 16px auto;
				background-position: 0% 33%;
			}

			.better-reviews__star_05 {
				padding-right: calc(var(--better-reviews-star-width) * 0.911);
			}

			.better-reviews__star_10 {
				padding-right: calc(var(--better-reviews-star-width) * 0.8);
			}

			.better-reviews__star_15 {
				padding-right: calc(var(--better-reviews-star-width) * 0.702);
			}

			.better-reviews__star_20 {
				padding-right: calc(var(--better-reviews-star-width) * 0.6);
			}

			.better-reviews__star_25 {
				padding-right: calc(var(--better-reviews-star-width) * 0.5);
			}

			.better-reviews__star_30 {
				padding-right: calc(var(--better-reviews-star-width) * 0.4);
			}

			.better-reviews__star_35 {
				padding-right: calc(var(--better-reviews-star-width) * 0.298);
			}

			.better-reviews__star_40 {
				padding-right: calc(var(--better-reviews-star-width) * 0.2);
			}

			.better-reviews__star_45 {
				padding-right: calc(var(--better-reviews-star-width) * 0.09);
			}

			.better-reviews__star_50 {
				padding-right: calc(var(--better-reviews-star-width) * 0);
			}
		}
	}
}
