.single-column-container-v3 {
	display: grid;
	grid-template: 'main' / 1fr;
	place-items: center;
	position: relative;
	&__block-container {
		display: grid;
		grid-area: main;
		z-index: 5;
		width: 100%;
	}
}
