@use '../fields-core-mixins/core-mixins';
@use '../fields-core-functions/core-functions';
@use '../component-breakpoints/breakpoints';
@use 'Assets/scss/blocks/bazaarvoice-display/bazaarvoice-display-extra';

.bazaarvoice-display {
	background-color: var(--background-colour);
	max-width: 100%;

	@include core-mixins.device(breakpoints.$mobile) {
		width: calc(
			100vw -
				(
					calc(
							var(--global-inline-spacing) *
								var(--padding-inline-multiplier-mobile-right)
						) -
						calc(
							var(--global-inline-spacing) *
								var(--padding-inline-multiplier-mobile-left)
						)
				) - 20px
		);
	}

	&__content {
		background-color: var(--bv-background-colour);
		padding: core-functions.fluidSize(20, 'static');
	}
	.bazaarvoice-display-content-title {
		margin-bottom: core-functions.fluidSize(35, 'mobile');

		@include core-mixins.device(breakpoints.$tabPortrait) {
			margin-bottom: core-functions.fluidSize(40, 'portrait');
		}

		@include core-mixins.device(breakpoints.$tabLandscape) {
			margin-bottom: core-functions.fluidSize(50, 'desktop');
		}
	}
	@include bazaarvoice-display-extra.additionalStyles();
}
