@use '../fields-core-mixins/core-mixins';
@use '../fields-core-functions/core-functions';
@use '../component-breakpoints';

@mixin carouselArrow {
	&::after {
		content: '';
		height: 100%;
		background-color: white;
		clip-path: polygon(
			100% 50%,
			70% 75%,
			63% 73%,
			89% 52%,
			0 52%,
			0 48%,
			89% 48%,
			63% 27%,
			70% 25%
		);
		pointer-events: none;
		z-index: 99;
		position: absolute;
		width: 35%;
		opacity: 0.8;
	}
}

@mixin carouselButton($rotation: '0deg', $top: 50%) {
	top: $top;
	transform: translateY(-$top) rotate($rotation);
	position: absolute;
	display: grid;
	place-items: center;
	z-index: 10;
	border: 1px solid rgba(255, 255, 255, 0.5);
	box-sizing: border-box;
	backdrop-filter: blur(20px);
	width: core-functions.fluidSize(74, 'mobile');
	height: core-functions.fluidSize(40, 'mobile');
	background: rgba(0, 0, 0, 0.33) no-repeat center;
	@include carouselArrow();

	@include core-mixins.device(breakpoints.$tabPortrait) {
		width: core-functions.fluidSize(74, 'desktop');
		height: core-functions.fluidSize(40, 'desktop');
	}

	&:hover {
		cursor: pointer;
	}
}

@mixin playButtonRectangle {
	width: core-functions.fluidSize(100, 'mobile');
	height: core-functions.fluidSize(54, 'mobile');
	border: 1px solid white;
	position: relative;
	transition: transform 0.3s;
	background-color: transparent;
	backdrop-filter: blur(6px);

	@include core-mixins.device(breakpoints.$tabPortrait) {
		width: core-functions.fluidSize(100, 'desktop');
		height: core-functions.fluidSize(54, 'desktop');
	}

	.autoplay & {
		opacity: 0;
	}

	&.hidden {
		opacity: 0;
		pointer-events: none;
	}

	&:hover {
		transform: scale(1.03);
		cursor: pointer;
	}

	&:focus {
		outline: none;
	}

	&::before {
		content: '';
		width: core-functions.fluidSize(20, 'desktop');
		height: core-functions.fluidSize(20, 'desktop');
		position: absolute;
		background-color: white;
		clip-path: polygon(
			0 0,
			0% 100%,
			10% 85%,
			10% 15%,
			80% 50%,
			6% 84%,
			0 100%,
			100% 50%
		);
	}
}

@mixin playButtonRound() {
	display: grid;
	place-items: center;
	background-color: var(--white);
	opacity: 0.7;
	border-radius: 50px;
	width: core-functions.fluidSize(84, 'static');
	height: core-functions.fluidSize(84, 'static');
	border: none;
	z-index: 100;
	padding: 0;
	position: relative;

	&:hover {
		cursor: pointer;
	}

	&::before {
		position: absolute;
		content: '';
		height: core-functions.fluidSize(34, 'static');
		width: core-functions.fluidSize(25, 'static');
		transform: translateX(18%);
		clip-path: polygon(100% 50%, 0 0, 0 100%);
		background-color: var(--black);

		@supports not (aspect-ratio: 1/1) {
			top: 50%;
			left: 50%;
			transform: translate(-25%, -50%);
		}
	}
}

@mixin playButtonPrimary() {
	@include playButtonRound();
}

@mixin playButtonSecondary() {
	@include playButtonRound();
}

@mixin playButtonTertiary() {
	@include playButtonRound();
}

@mixin closeButton() {
	display: grid;
	place-items: center;
	background-color: var(--white);
	opacity: 0.7;
	border-radius: 50px;
	width: core-functions.fluidSize(35, 'static');
	height: core-functions.fluidSize(35, 'static');
	border: none;
	z-index: 100;
	padding: 0;
	position: relative;

	&:hover {
		cursor: pointer;
	}

	&::before {
		position: absolute;
		content: '';
		height: core-functions.fluidSize(20, 'static');
		width: core-functions.fluidSize(20, 'static');
		clip-path: polygon(
			15% 0,
			0 15%,
			35% 50%,
			0 85%,
			15% 100%,
			50% 65%,
			85% 100%,
			100% 85%,
			65% 50%,
			100% 15%,
			85% 0,
			50% 35%
		);
		background-color: var(--black);

		@supports not (aspect-ratio: 1/1) {
			top: 50%;
			left: 50%;
			transform: translate(-25%, -50%);
		}
	}
}

@mixin closeButtonRound() {
	display: grid;
	place-items: center;
	background-color: var(--white);
	opacity: 0.7;
	border-radius: 50px;
	width: core-functions.fluidSize(35, 'static');
	height: core-functions.fluidSize(35, 'static');
	border: none;
	z-index: 100;
	padding: 0;
	position: relative;

	&:hover {
		cursor: pointer;
	}

	&::before {
		position: absolute;
		content: '';
		height: core-functions.fluidSize(25, 'static');
		width: core-functions.fluidSize(25, 'static');
		clip-path: polygon(
			20% 0%,
			0% 20%,
			30% 50%,
			0% 80%,
			20% 100%,
			50% 70%,
			80% 100%,
			100% 80%,
			70% 50%,
			100% 20%,
			80% 0%,
			50% 30%
		);
		background-color: var(--black);

		@supports not (aspect-ratio: 1/1) {
			top: 50%;
			left: 50%;
			transform: translate(-25%, -50%);
		}
	}
}

@mixin submitButton {
	color: var(--white);
	@include fonts.fontPrimary();
	cursor: pointer;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	width: core-functions.fluidSize(295, 'mobile');
	height: core-functions.fluidSize(64, 'mobile');
	background-color: var(--bg-grey);
	line-height: 115%;
	border: none;
	opacity: 1;

	strong,
	b {
		font-weight: var(--weight-demi-bold);
	}

	font-size: fonts.size(24, 'mobile');

	@include core-mixins.device(breakpoints.$tabPortrait) {
		font-size: fonts.size(24, 'desktop');
		width: core-functions.fluidSize(360, 'desktop');
		height: core-functions.fluidSize(64, 'desktop');
		opacity: 1;
		border: none;
	}

	&.valid {
		background-color: var(--cyan);
		opacity: 1;
		border: none;
	}
}

@mixin swiperArrowStyles($color: white) {
	.swiper-button-next,
	.swiper-button-prev {
		color: $color;
		display: flex;

		&::after {
			font-size: core-functions.fluidSize(30, 'static');
			padding: core-functions.fluidSize(10, 'static');
		}

		&.swiper-button-disabled {
			opacity: 0;
		}
	}
}

@mixin shareIcon() {
	padding: core-functions.fluidSize(10, 'static');
	border: 1px solid var(--share-colour);
	display: flex;

	svg {
		width: 100%;
		height: 100%;
	}

	height: core-functions.fluidSize(30, 'mobile');
	width: core-functions.fluidSize(30, 'mobile');
	padding: core-functions.fluidSize(7.5, 'mobile');

	@include core-mixins.device(breakpoints.$tabPortrait) {
		height: core-functions.fluidSize(40, 'portrait');
		width: core-functions.fluidSize(40, 'portrait');
		padding: core-functions.fluidSize(10, 'portrait');
	}

	@include core-mixins.device(breakpoints.$tabLandscape) {
		height: core-functions.fluidSize(40, 'desktop');
		width: core-functions.fluidSize(40, 'desktop');
		padding: core-functions.fluidSize(10, 'desktop');
	}
}

@mixin shareIconPrimary() {
	@include shareIcon();
	border: 1px solid var(--brand-primary);
}

@mixin shareIconSecondary() {
	@include shareIcon();
	border: 1px solid var(--white);
}

@mixin shareIconTertiary() {
	@include shareIcon();
	border: 1px solid var(--white);
}

@mixin shareIconStyles() {
	&__share-icon {
		&--primary {
			@include shareIconPrimary();
		}

		&--secondary {
			@include shareIconSecondary();
		}

		&--tertiary {
			@include shareIconTertiary();
		}
	}
}

@mixin playButtonStyles() {
	&__video-play-button {
		&--primary {
			@include playButtonPrimary();
		}

		&--secondary {
			@include playButtonSecondary();
		}

		&--tertiary {
			@include playButtonTertiary();
		}
	}
}

// @mixin buttonBasic(
// 	$color: white,
// 	$background-color: black,
// 	$border-color: transparent,
// 	$hover-color: black,
// 	$hover-color-bg: white,
// 	$hover-border-color: black
// ) {
// 	@include mixins.fontPrimary();
// 	text-decoration: none;
// 	display: inline-flex;
// 	width: auto;
// 	justify-content: center;
// 	letter-spacing: 0.01em;
// 	line-height: 1;
// 	font-weight: normal;
// 	font-size: core-functions.fontSize(14, 'mobile');
// 	padding: core-functions.fluidSize(8, 'mobile')
// 		core-functions.fluidSize(20, 'mobile');
// 	text-transform: uppercase;
// 	text-align: center;
// 	transition: background-color 0.4s, color 0.3s, border-color 0.5s;
// 	color: #{$color};
// 	border: 1px solid #{$border-color};
// 	border-radius: 2px;
// 	background-color: #{$background-color};
// 	opacity: 1;
// 	border-radius: 25px;
// 	height: auto;
// 	text-shadow: none;

// 	&:active,
// 	&:focus {
// 		cursor: pointer;
// 		color: #{$hover-color};
// 		background-color: #{$hover-color-bg};
// 		border-color: $hover-border-color;
// 		text-decoration: none;
// 	}

// 	&[disabled] {
// 		opacity: 0.4;
// 	}

// 	@include core-mixins.device(breakpoints.$tabPortrait) {
// 		padding: core-functions.fluidSize(8, 'portrait')
// 			core-functions.fluidSize(20, 'portrait');
// 		font-size: core-functions.fontSize(14, 'static');
// 	}

// 	@include core-mixins.device(breakpoints.$tabLandscape) {
// 		line-height: 1;
// 		font-size: core-functions.fontSize(16, 'static');
// 		padding: core-functions.fluidSize(8, 'desktop')
// 			core-functions.fluidSize(20, 'desktop');

// 		&:hover {
// 			cursor: pointer;
// 			color: #{$hover-color};
// 			background-color: #{$hover-color-bg};
// 			border-color: $hover-border-color;
// 			text-decoration: none;
// 		}
// 	}

// 	@include core-mixins.device(breakpoints.$desktop) {
// 		background-color: #{$background-color};
// 	}
// }

// @mixin buttonAlternateWhite() {
// 	@include buttonBasic(
// 		var(--white-text),
// 		transparent,
// 		var(--white-text),
// 		var(--teal),
// 		var(--white-text),
// 		var(--white-text)
// 	);

// 	&[disabled] {
// 		color: rgba(var(--darkgray), 0.5);
// 		background-color: var(--white-text);
// 		border-color: var(--white-text);
// 	}
// }
