post-filter-module {
	position: fixed;
	inset: 0;
	background-color: black;
	right: unset;
	display: block;
	width: 100vw;
	transform: translateX(-100%);
	max-width: 414px;
	z-index: 10;
	transition: transform ease-in-out 0.3s;

	@starting-style {
		transform: translateX(-100%);
	}

	@media (min-width: 768px) {
		max-width: unset;
		width: 475px;
	}

	.post-filter-module__grouping-category-button {
	}

	.post-filter-module__filter-category-button {
		appearance: none;
		color: var(--theme-primary-text-colour, white);
		border: 1px solid transparent;
		background-color: var(--theme-primary-background-colour, black);
	}
	.post-filter-module__filter-category-button.active-cat {
		color: gold;
		border: 1px solid gold;
	}
}
post-filter-module.active {
	transform: translateX(0%);
}
