post-filter-module {
	display: block;
	background-color: aquamarine;
	.post-filter-module__filter-category-button {
		border: 1px solid yellow;
	}
	.post-filter-module__filter-category-button.active-cat {
		border: 1px solid red;
	}
}
