@use '../fields-core-mixins/core-mixins';
@use '../fields-core-functions/core-functions';
@use '../component-breakpoints/breakpoints';

@mixin responsiveImage() {
	&__picture {
		width: var(--image-width-mobile, 100%);
		grid-area: var(--image-grid-area, main);
		position: var(--image-position, relative);
		inset: 0;
		min-height: 100%;
		display: flex;
		z-index: var(--image-z-index);
		border: core-functions.fluidSize(var(--image-border-width), 'static')
			var(--image-border-style) var(--image-border-colour);
		@include core-mixins.device(breakpoints.$tabPortrait) {
			width: var(--image-width-portrait, 100%);
		}
		@include core-mixins.device(breakpoints.$tabLandscape) {
			width: var(--image-width, 100%);
		}
	}

	&__image {
		object-fit: var(--image-fit-style, cover);
		position: relative;
		object-position: var(--image-object-position-align);
		translate: var(--image-offset-horiz) var(--image-offset-vert);
		opacity: var(--image-opacity, 1);
		aspect-ratio: var(
			--image-aspect-ratio-mobile,
			var(--image-aspect-ratio-desktop)
		);
		border-radius: var(--image-border-radius);
		min-height: calc(
			var(--image-min-height-mobile) - calc(
					var(--global-site-header-height, 0px) - var(
							--cancel-header-height
						)
				)
		);

		@include core-mixins.device(breakpoints.$tabPortrait) {
			aspect-ratio: var(--image-aspect-ratio-portrait);
		}

		@include core-mixins.device(breakpoints.$tabLandscape) {
			aspect-ratio: var(--image-aspect-ratio-desktop);
			min-height: calc(
				var(--image-min-height-desktop) - calc(
						var(--global-site-header-height, 0px) - var(
								--cancel-header-height
							)
					)
			);
			// .wp-admin & {
			// 	min-height: unset;
			// }
		}
	}
}
