@use '../fields-core-mixins-v3/core-mixins-v3';
@use '../fields-core-functions-v3/core-functions-v3';
@use '../../breakpoints';
// @use 'Assets/scss/blocks/betterreviews-display-v3/betterreviews-display-v3-extra';

.betterreviews-display-v3 {
	.better-reviews__average {
		.better-reviews__criteria-stars {
			--star-count: 5;
			--star-size: 16px;
			--better-reviews-star-width: calc(
				var(--star-count) * var(--star-size) + (var(--star-count) - 1) *
					0px
			);
			opacity: 0;
			animation: slide-reveal-right 1s 1.5s ease-out forwards;
			position: relative;
			width: var(--better-reviews-star-width);
			height: var(--star-size);
			mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27.86 26'><path d='M27.86,10.12l-7.24,6.46,1.99,9.42-8.68-4.71-8.68,4.54,1.99-9.43L0,9.95l9.77-1.22L13.93,0l4.16,8.73,9.77,1.4Z'/></svg>");
			mask-repeat: repeat-x;
			mask-size: var(--star-size) auto;
			mask-position: left 33%;
			background: transparent;

			&::before {
				content: '';
				position: absolute;
				inset: 0;
				background: linear-gradient(
					90deg,
					#44271c 0%,
					#dabb9c 32%,
					#e5c29d 38%,
					#ebc79f 45%,
					#7a4a36 74%,
					#89563e 81%,
					#9d6749 92%,
					#a56d4e 100%
				);
				background-clip: content-box;
				mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27.86 26'><path d='M27.86,10.12l-7.24,6.46,1.99,9.42-8.68-4.71-8.68,4.54,1.99-9.43L0,9.95l9.77-1.22L13.93,0l4.16,8.73,9.77,1.4Z'/></svg>");
				mask-repeat: repeat-x;
				mask-size: var(--star-size) auto;
				mask-position: left 33%;
			}

			&.better-reviews__star_05::before {
				padding-right: calc(var(--better-reviews-star-width) * 0.911);
			}
			&.better-reviews__star_10::before {
				padding-right: calc(var(--better-reviews-star-width) * 0.8);
			}
			&.better-reviews__star_15::before {
				padding-right: calc(var(--better-reviews-star-width) * 0.702);
			}
			&.better-reviews__star_20::before {
				padding-right: calc(var(--better-reviews-star-width) * 0.6);
			}
			&.better-reviews__star_25::before {
				padding-right: calc(var(--better-reviews-star-width) * 0.5);
			}
			&.better-reviews__star_30::before {
				padding-right: calc(var(--better-reviews-star-width) * 0.4);
			}
			&.better-reviews__star_35::before {
				padding-right: calc(var(--better-reviews-star-width) * 0.298);
			}
			&.better-reviews__star_40::before {
				padding-right: calc(var(--better-reviews-star-width) * 0.2);
			}
			&.better-reviews__star_45::before {
				padding-right: calc(var(--better-reviews-star-width) * 0.1);
			}
			&.better-reviews__star_50::before {
				padding-right: 0;
			}
		}
	}

	// @include betterreviews-display-v3-extra.additionalStyles();
}

@keyframes slide-reveal-right {
	from {
		clip-path: inset(0 100% 0 0);
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	100% {
		clip-path: inset(0 0 0 0);
		opacity: 1;
	}
}
