@use '../../breakpoints';
@use '../fields-core-mixins-v3/core-mixins-v3';
@use '../fields-core-functions-v3/core-functions-v3';

@mixin blockSettings() {
	.cmpl-block-settings {
		min-height: core-functions-v3.fluidSize(
			var(--block-min-height-mobile),
			'mobile'
		);
		height: var(--block-height-mobile, auto);
		overflow: var(--block-overflow, hidden);
		border-radius: var(--block-border-radius);
		position: var(--block-position-type, relative);
		z-index: var(--block-z-index);
		top: var(--block-position-top);
		right: var(--block-position-right);
		bottom: var(--block-position-bottom);
		left: var(--block-position-left);
		background-color: var(--block-background-colour);
		pointer-events: var(--block-pointer-events);
		aspect-ratio: var(--block-aspect-ratio-mobile);
		.wp-admin & {
			position: relative;
		}

		@include core-mixins-v3.device(breakpoints.$tabPortrait) {
			height: var(--block-height-portrait, auto);
			aspect-ratio: var(--block-aspect-ratio-portrait);
			min-height: core-functions-v3.fluidSize(
				var(--block-min-height-portrait),
				'portrait'
			);
		}
		@include core-mixins-v3.device(breakpoints.$tabLandscape) {
			height: var(--block-height-desktop, auto);
			aspect-ratio: var(--block-aspect-ratio);
			min-height: core-functions-v3.fluidSize(
				var(--block-min-height-desktop),
				'landscape'
			);
		}
	}
}
