@use '../../breakpoints';
@use '../fields-core-mixins-v3/core-mixins-v3';
@use '../fields-core-functions-v3/core-functions-v3';

@mixin blockSettings() {
	@layer components {
		.cmpl-block-settings {
			min-height: core-functions-v3.fluidSize(
				var(--block-min-height-mobile, 0),
				'mobile'
			);
			height: var(--block-height-mobile, auto);
			overflow: var(--block-overflow, hidden);
			border-radius: var(--block-border-radius);
			position: var(--block-position-type, relative);
			z-index: var(--block-z-index, 5);
			top: var(--block-position-top, unset);
			right: var(--block-position-right, unset);
			bottom: var(--block-position-bottom, unset);
			left: var(--block-position-left, unset);
			background-color: var(--block-background-colour, transparent);
			pointer-events: var(--block-pointer-events, all);
			aspect-ratio: var(--block-aspect-ratio-mobile, unset);
			.wp-admin & {
				position: relative;
			}

			@include core-mixins-v3.device(breakpoints.$tabPortrait) {
				height: var(--block-height-portrait, auto);
				aspect-ratio: var(--block-aspect-ratio-portrait, unset);
				min-height: core-functions-v3.fluidSize(
					var(--block-min-height-portrait, 0),
					'portrait'
				);
			}
			@include core-mixins-v3.device(breakpoints.$tabLandscape) {
				height: var(--block-height-desktop, auto);
				aspect-ratio: var(--block-aspect-ratio, unset);
				min-height: core-functions-v3.fluidSize(
					var(--block-min-height-desktop, 0),
					'landscape'
				);
			}
		}
	}
}
