.standard-content-v3 {
  display: grid;
  grid-template: "main"/1fr;
  display: var(--display-mobile, grid);
}
@media screen and (min-width: 768px) {
  .standard-content-v3 {
    display: grid;
    display: var(--display-portrait, grid);
  }
}
@media screen and (min-width: 1024px) {
  .standard-content-v3 {
    display: grid;
    display: var(--display-desktop, grid);
  }
}
.standard-content-v3__inner-container {
  grid-area: main;
  align-self: var(--content-box-vert-align-mobile);
  justify-self: var(--content-box-horiz-align-mobile);
  place-self: var(--content-box-vert-align-mobile) var(--content-box-horiz-align-mobile);
  z-index: 5;
  z-index: var(--content-z-index, 5);
  overflow: var(--content-box-overflow);
  min-width: -moz-min-content;
  min-width: min-content;
  aspect-ratio: var(--content-box-aspect-ratio);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  border-color: var(--border-colour);
  border-style: var(--border-style);
  display: flex;
  flex-direction: column;
  flex-direction: var(--content-box-items-direction-mobile, column);
  justify-content: var(--content-items-alignment-mobile);
  align-items: center;
  background-color: var(--cb-bg-colour);
  padding: calc(var(--global-inline-spacing) * var(--content-box-top-padding-mult-mobile)) calc(var(--global-inline-spacing) * var(--content-box-right-padding-mult-mobile)) calc(var(--global-inline-spacing) * var(--content-box-bottom-padding-mult-mobile)) calc(var(--global-inline-spacing) * var(--content-box-left-padding-mult-mobile));
  margin: calc(var(--global-inline-spacing) * var(--content-box-top-margin-mobile)) calc(var(--global-inline-spacing) * var(--content-box-right-margin-mobile)) calc(var(--global-inline-spacing) * var(--content-box-bottom-margin-mobile)) calc(var(--global-inline-spacing) * var(--content-box-left-margin-mobile));
  -moz-column-gap: var(--content-items-micro-gap-mobile, calc(var(--content-items-gap-mobile) * var(--global-inline-spacing)));
  column-gap: var(--content-items-micro-gap-mobile, calc(var(--content-items-gap-mobile) * var(--global-inline-spacing)));
}
@media screen and (min-width: 768px) {
  .standard-content-v3__inner-container {
    justify-content: var(--content-items-alignment-portrait);
    align-self: var(--content-box-vert-align-portrait);
    justify-self: var(--content-box-horiz-align-portrait);
    place-self: var(--content-box-vert-align-portrait) var(--content-box-horiz-align-portrait);
    padding: calc(var(--global-inline-spacing) * var(--content-box-top-padding-mult-portrait)) calc(var(--global-inline-spacing) * var(--content-box-right-padding-mult-portrait)) calc(var(--global-inline-spacing) * var(--content-box-bottom-padding-mult-portrait)) calc(var(--global-inline-spacing) * var(--content-box-left-padding-mult-portrait));
    margin: calc(var(--global-inline-spacing) * var(--content-box-top-margin-portrait)) calc(var(--global-inline-spacing) * var(--content-box-right-margin-portrait)) calc(var(--global-inline-spacing) * var(--content-box-bottom-margin-portrait)) calc(var(--global-inline-spacing) * var(--content-box-left-margin-portrait));
  }
}
@media screen and (min-width: 1024px) {
  .standard-content-v3__inner-container {
    -moz-column-gap: var(--content-items-micro-gap-desktop, calc(var(--content-items-gap-desktop) * var(--global-inline-spacing)));
    column-gap: var(--content-items-micro-gap-desktop, calc(var(--content-items-gap-desktop) * var(--global-inline-spacing)));
    justify-content: var(--content-items-alignment);
    max-width: var(--cb-max-width);
    align-self: var(--content-box-vert-align);
    justify-self: var(--content-box-horiz-align);
    place-self: var(--content-box-vert-align) var(--content-box-horiz-align);
    padding: calc(var(--global-inline-spacing) * var(--content-box-top-padding-mult)) calc(var(--global-inline-spacing) * var(--content-box-right-padding-mult)) calc(var(--global-inline-spacing) * var(--content-box-bottom-padding-mult)) calc(var(--global-inline-spacing) * var(--content-box-left-padding-mult));
    margin: calc(var(--global-inline-spacing) * var(--content-box-top-margin)) calc(var(--global-inline-spacing) * var(--content-box-right-margin)) calc(var(--global-inline-spacing) * var(--content-box-bottom-margin)) calc(var(--global-inline-spacing) * var(--content-box-left-margin));
  }
}
.standard-content-v3__inner-container {
  box-shadow: calc(var(--box-shadow-offset-x) / var(--desktop-design-reference) * var(--screen-width-static)) calc(var(--box-shadow-offset-y) / var(--desktop-design-reference) * var(--screen-width-static)) calc(var(--box-shadow-blur) / var(--desktop-design-reference) * var(--screen-width-static)) calc(var(--box-shadow-spread) / var(--desktop-design-reference) * var(--screen-width-static)) var(--box-shadow-colour);
}
.standard-content-v3__content-box,
.standard-content-v3__content-container {
  max-width: var(--wysiwyg-max-width-mobile);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  word-break: normal;
  width: 100%;
  width: var(--content-box-width, 100%);
  -webkit-text-stroke: calc(var(--text-stroke-width) / var(--desktop-design-reference) * var(--screen-width-static) * var(--font-size-multiplier)) var(--text-stroke-colour);
}
.standard-content-v3__content-box:last-child,
.standard-content-v3__content-container:last-child {
  margin-bottom: 0;
}
.standard-content-v3__content-box,
.standard-content-v3__content-container {
  color: var(--default-text-colour-mobile, var(--theme-primary-text-colour));
}
@media screen and (min-width: 768px) {
  .standard-content-v3__content-box,
  .standard-content-v3__content-container {
    color: var(--default-text-colour-portrait, var(--default-text-colour-desktop));
  }
}
@media screen and (min-width: 1024px) {
  .standard-content-v3__content-box,
  .standard-content-v3__content-container {
    color: var(--default-text-colour-desktop, var(--theme-primary-text-colour));
  }
}
.standard-content-v3__content-box,
.standard-content-v3__content-container {
  text-transform: var(--default-text-transform-mobile);
}
@media screen and (min-width: 768px) {
  .standard-content-v3__content-box,
  .standard-content-v3__content-container {
    text-transform: var(--default-text-transform-portrait, var(--default-text-transform-desktop));
  }
}
@media screen and (min-width: 1024px) {
  .standard-content-v3__content-box,
  .standard-content-v3__content-container {
    text-transform: var(--default-text-transform-desktop);
  }
}
.standard-content-v3__content-box,
.standard-content-v3__content-container {
  text-align: var(--default-text-align-mobile);
}
@media screen and (min-width: 768px) {
  .standard-content-v3__content-box,
  .standard-content-v3__content-container {
    text-align: var(--default-text-align-portrait, var(--default-text-align-desktop));
  }
}
@media screen and (min-width: 1024px) {
  .standard-content-v3__content-box,
  .standard-content-v3__content-container {
    text-align: var(--default-text-align-desktop);
  }
}
.standard-content-v3__content-box,
.standard-content-v3__content-container {
  display: block;
  display: var(--display-mobile, block);
}
@media screen and (min-width: 768px) {
  .standard-content-v3__content-box,
  .standard-content-v3__content-container {
    display: block;
    display: var(--display-portrait, block);
  }
}
@media screen and (min-width: 1024px) {
  .standard-content-v3__content-box,
  .standard-content-v3__content-container {
    display: block;
    display: var(--display-desktop, block);
  }
}
.standard-content-v3__content-box p,
.standard-content-v3__content-box h1,
.standard-content-v3__content-box h2,
.standard-content-v3__content-box h3,
.standard-content-v3__content-box h4,
.standard-content-v3__content-box h5,
.standard-content-v3__content-box h6,
.standard-content-v3__content-box a,
.standard-content-v3__content-box li,
.standard-content-v3__content-box div,
.standard-content-v3__content-container p,
.standard-content-v3__content-container h1,
.standard-content-v3__content-container h2,
.standard-content-v3__content-container h3,
.standard-content-v3__content-container h4,
.standard-content-v3__content-container h5,
.standard-content-v3__content-container h6,
.standard-content-v3__content-container a,
.standard-content-v3__content-container li,
.standard-content-v3__content-container div {
  font-weight: var(--default-font-weight-mobile, var(--default-font-weight));
}
@media screen and (min-width: 768px) {
  .standard-content-v3__content-box p,
  .standard-content-v3__content-box h1,
  .standard-content-v3__content-box h2,
  .standard-content-v3__content-box h3,
  .standard-content-v3__content-box h4,
  .standard-content-v3__content-box h5,
  .standard-content-v3__content-box h6,
  .standard-content-v3__content-box a,
  .standard-content-v3__content-box li,
  .standard-content-v3__content-box div,
  .standard-content-v3__content-container p,
  .standard-content-v3__content-container h1,
  .standard-content-v3__content-container h2,
  .standard-content-v3__content-container h3,
  .standard-content-v3__content-container h4,
  .standard-content-v3__content-container h5,
  .standard-content-v3__content-container h6,
  .standard-content-v3__content-container a,
  .standard-content-v3__content-container li,
  .standard-content-v3__content-container div {
    font-weight: var(--default-font-weight-portrait, var(--default-font-weight));
  }
}
@media screen and (min-width: 1024px) {
  .standard-content-v3__content-box p,
  .standard-content-v3__content-box h1,
  .standard-content-v3__content-box h2,
  .standard-content-v3__content-box h3,
  .standard-content-v3__content-box h4,
  .standard-content-v3__content-box h5,
  .standard-content-v3__content-box h6,
  .standard-content-v3__content-box a,
  .standard-content-v3__content-box li,
  .standard-content-v3__content-box div,
  .standard-content-v3__content-container p,
  .standard-content-v3__content-container h1,
  .standard-content-v3__content-container h2,
  .standard-content-v3__content-container h3,
  .standard-content-v3__content-container h4,
  .standard-content-v3__content-container h5,
  .standard-content-v3__content-container h6,
  .standard-content-v3__content-container a,
  .standard-content-v3__content-container li,
  .standard-content-v3__content-container div {
    font-weight: var(--default-font-weight-desktop, var(--default-font-weight));
  }
}
.standard-content-v3__content-box p,
.standard-content-v3__content-box h1,
.standard-content-v3__content-box h2,
.standard-content-v3__content-box h3,
.standard-content-v3__content-box h4,
.standard-content-v3__content-box h5,
.standard-content-v3__content-box h6,
.standard-content-v3__content-box a,
.standard-content-v3__content-box li,
.standard-content-v3__content-box div,
.standard-content-v3__content-container p,
.standard-content-v3__content-container h1,
.standard-content-v3__content-container h2,
.standard-content-v3__content-container h3,
.standard-content-v3__content-container h4,
.standard-content-v3__content-container h5,
.standard-content-v3__content-container h6,
.standard-content-v3__content-container a,
.standard-content-v3__content-container li,
.standard-content-v3__content-container div {
  font-style: var(--default-font-style-mobile);
}
@media screen and (min-width: 768px) {
  .standard-content-v3__content-box p,
  .standard-content-v3__content-box h1,
  .standard-content-v3__content-box h2,
  .standard-content-v3__content-box h3,
  .standard-content-v3__content-box h4,
  .standard-content-v3__content-box h5,
  .standard-content-v3__content-box h6,
  .standard-content-v3__content-box a,
  .standard-content-v3__content-box li,
  .standard-content-v3__content-box div,
  .standard-content-v3__content-container p,
  .standard-content-v3__content-container h1,
  .standard-content-v3__content-container h2,
  .standard-content-v3__content-container h3,
  .standard-content-v3__content-container h4,
  .standard-content-v3__content-container h5,
  .standard-content-v3__content-container h6,
  .standard-content-v3__content-container a,
  .standard-content-v3__content-container li,
  .standard-content-v3__content-container div {
    font-style: var(--default-font-style-portrait, var(--default-font-style-desktop));
  }
}
@media screen and (min-width: 1024px) {
  .standard-content-v3__content-box p,
  .standard-content-v3__content-box h1,
  .standard-content-v3__content-box h2,
  .standard-content-v3__content-box h3,
  .standard-content-v3__content-box h4,
  .standard-content-v3__content-box h5,
  .standard-content-v3__content-box h6,
  .standard-content-v3__content-box a,
  .standard-content-v3__content-box li,
  .standard-content-v3__content-box div,
  .standard-content-v3__content-container p,
  .standard-content-v3__content-container h1,
  .standard-content-v3__content-container h2,
  .standard-content-v3__content-container h3,
  .standard-content-v3__content-container h4,
  .standard-content-v3__content-container h5,
  .standard-content-v3__content-container h6,
  .standard-content-v3__content-container a,
  .standard-content-v3__content-container li,
  .standard-content-v3__content-container div {
    font-style: var(--default-font-style-desktop);
  }
}
@media screen and (min-width: 768px) {
  .standard-content-v3__content-box,
  .standard-content-v3__content-container {
    max-width: var(--wysiwyg-max-width-portrait);
  }
}
@media screen and (min-width: 1024px) {
  .standard-content-v3__content-box,
  .standard-content-v3__content-container {
    max-width: var(--wysiwyg-max-width);
  }
}
.standard-content-v3--text-shadow {
  text-shadow: calc(var(--text-shadow-offset-x) / var(--desktop-design-reference) * var(--screen-width-static)) calc(var(--text-shadow-offset-y) / var(--desktop-design-reference) * var(--screen-width-static)) calc(var(--text-shadow-blur) / var(--desktop-design-reference) * var(--screen-width-static)) var(--text-shadow-colour);
}
.standard-content-v3__cta-selection-container {
  width: 100%;
  display: var(--cta-container-display);
  grid-template-columns: var(--grid-columns-mobile);
  flex-wrap: wrap;
  flex-direction: var(--cta-flex-direction);
  justify-content: var(--cta-alignment-mobile);
  gap: calc(var(--global-inline-spacing) * var(--cta-spacing-gap-mobile));
}
@media screen and (min-width: 768px) {
  .standard-content-v3__cta-selection-container {
    gap: calc(var(--global-inline-spacing) * var(--cta-spacing-gap-desktop));
    justify-content: var(--cta-alignment-portrait);
    grid-template-columns: var(--grid-columns-portrait);
  }
}
@media screen and (min-width: 1024px) {
  .standard-content-v3__cta-selection-container {
    justify-content: var(--cta-alignment);
    grid-template-columns: var(--grid-columns-desktop);
  }
}
.standard-content-v3__nav-menu {
  display: flex;
  width: 100%;
  justify-content: var(--alignment-mobile);
  align-items: var(--alignment-mobile);
}
@media screen and (min-width: 768px) {
  .standard-content-v3__nav-menu {
    justify-content: var(--alignment-portrait);
    align-items: var(--alignment-portrait);
  }
}
@media screen and (min-width: 1024px) {
  .standard-content-v3__nav-menu {
    justify-content: var(--alignment-desktop);
  }
}
.standard-content-v3__nav-menu-list {
  list-style: none;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-bottom: initial;
  flex-direction: var(--menu-direction-mobile);
  align-items: var(--alignment-mobile);
  gap: calc(var(--global-inline-spacing) * var(--gap-mobile));
}
@media screen and (min-width: 768px) {
  .standard-content-v3__nav-menu-list {
    gap: calc(var(--global-inline-spacing) * var(--gap-portrait));
    flex-direction: var(--menu-direction-portrait);
    align-items: var(--alignment-portrait);
  }
}
@media screen and (min-width: 1024px) {
  .standard-content-v3__nav-menu-list {
    align-items: var(--alignment-desktop);
    gap: calc(var(--global-inline-spacing) * var(--gap-desktop));
    flex-direction: var(--menu-direction);
  }
}
.standard-content-v3__nav-menu-list-item {
  margin-bottom: 0;
  margin-bottom: initial;
  line-height: inherit;
  letter-spacing: inherit;
}
.standard-content-v3__blockquote {
  display: flex;
  flex-direction: column;
  font-weight: inherit;
  gap: calc(20 / var(--desktop-design-reference) * var(--screen-width-static));
}
.standard-content-v3__blockquote::before {
  content: normal;
  content: initial;
}
.standard-content-v3__blockquote::after {
  content: normal;
  content: initial;
}
.standard-content-v3__blockquote-quote-text {
  font-weight: var(--default-font-weight-mobile);
  text-transform: var(--default-text-transform-mobile);
  text-align: var(--default-text-align-mobile);
  color: var(--default-text-colour-mobile);
  -webkit-text-stroke: calc(var(--text-stroke-width) / var(--desktop-design-reference) * var(--screen-width-static) * var(--font-size-multiplier)) var(--text-stroke-colour);
}
@media screen and (min-width: 1024px) {
  .standard-content-v3__blockquote-quote-text {
    font-weight: var(--default-font-weight-desktop);
    text-transform: var(--default-text-transform-desktop);
    text-align: var(--default-text-align-desktop);
    color: var(--default-text-colour-desktop);
  }
}
.standard-content-v3__blockquote-quote-text:before {
  position: absolute;
  left: -0.6em;
  font-size: var(--quotes-size);
}
.standard-content-v3__blockquote-quote-text:after {
  content: var(--hide-close-quote);
  position: absolute;
  bottom: calc(var(--quotes-size) * -0.04);
  font-size: var(--quotes-size);
}
.standard-content-v3 footer {
  align-self: var(--footer-align);
  color: var(--default-text-colour-mobile);
}
@media screen and (min-width: 1024px) {
  .standard-content-v3 footer {
    color: var(--default-text-colour-desktop);
  }
}
.standard-content-v3__accent-text {
  display: flex;
  align-items: center;
  color: var(--accent-text-colour-mobile);
  text-align: center;
  align-self: center;
  align-self: var(--alignment, center);
  justify-self: center;
  justify-self: var(--alignment, center);
  align-self: center;
  justify-self: center;
  place-self: center;
  place-self: var(--alignment, center);
  font-family: var(--secondary-font-family);
  letter-spacing: 0.8em;
  text-transform: uppercase;
  gap: calc(10 / var(--design-reference) * var(--screen-width));
  margin-left: calc(5 / var(--design-reference) * var(--screen-width));
  margin-right: calc(5 / var(--design-reference) * var(--screen-width));
  font-size: calc(10 / var(--design-reference) * var(--font-reference) * var(--font-size-multiplier));
}
@media screen and (min-width: 768px) {
  .standard-content-v3__accent-text {
    font-size: calc(10 / var(--design-reference) * var(--font-reference) * var(--font-size-multiplier));
    margin-left: calc(5 / var(--design-reference) * var(--screen-width));
    margin-right: calc(5 / var(--design-reference) * var(--screen-width));
    gap: calc(20 / var(--design-reference) * var(--screen-width));
  }
}
@media screen and (min-width: 1024px) {
  .standard-content-v3__accent-text {
    color: var(--accent-text-colour);
    font-size: calc(10 / var(--design-reference) * var(--font-reference) * var(--font-size-multiplier));
    margin-left: calc(5 / var(--design-reference) * var(--screen-width));
    margin-right: calc(5 / var(--design-reference) * var(--screen-width));
    gap: calc(20 / var(--design-reference) * var(--screen-width));
  }
}
.standard-content-v3__accent-text::before,
.standard-content-v3__accent-text::after {
  content: "";
  background-color: var(--accent-text-colour-mobile, var(--default-text-colour-mobile));
  width: calc(20 / var(--design-reference) * var(--screen-width));
  height: calc(2 / var(--design-reference) * var(--screen-width));
}
@media screen and (min-width: 768px) {
  .standard-content-v3__accent-text::before,
  .standard-content-v3__accent-text::after {
    width: calc(40 / var(--design-reference) * var(--screen-width));
    height: calc(2 / var(--design-reference) * var(--screen-width));
  }
}
@media screen and (min-width: 1024px) {
  .standard-content-v3__accent-text::before,
  .standard-content-v3__accent-text::after {
    background-color: var(--accent-text-colour, var(--default-text-colour-desktop));
    width: calc(80 / var(--design-reference) * var(--screen-width));
    height: calc(2 / var(--design-reference) * var(--screen-width));
  }
}
.standard-content-v3__video-play-button-container {
  display: grid;
  width: 100%;
  pointer-events: all;
}
.standard-content-v3__video-play-button-container:last-child {
  margin-bottom: 0;
}
.standard-content-v3__video-play-button {
  grid-area: unset;
  align-self: center;
  align-self: var(--playbutton-vertical-alignment, center);
  justify-self: center;
  justify-self: var(--playbutton-horizontal-alignment, center);
  align-self: center;
  justify-self: center;
  place-self: center center;
  place-self: var(--playbutton-vertical-alignment, center) var(--playbutton-horizontal-alignment, center);
}
.standard-content-v3__content-image {
  width: 100%;
  height: auto;
  align-self: var(--image-position-horizontal);
  justify-self: var(--image-position-vertical);
  place-self: var(--image-position-horizontal) var(--image-position-vertical);
  translate: var(--image-position-offset-horizontal) var(--image-position-offset-vertical);
  rotate: var(--image-rotation);
  z-index: -1;
  border-radius: var(--content-image-border-radius);
  max-width: calc(var(--image-max-width-mobile) / var(--design-reference) * var(--screen-width));
}
@media screen and (min-width: 768px) {
  .standard-content-v3__content-image {
    max-width: calc(var(--image-max-width-portrait) / var(--design-reference) * var(--screen-width));
  }
}
@media screen and (min-width: 1024px) {
  .standard-content-v3__content-image {
    max-width: calc(var(--image-max-width-desktop) / var(--design-reference) * var(--screen-width));
  }
}
.standard-content-v3__content-image__content-image-link {
  pointer-events: all;
}
