@use '../fields-core-mixins-v3/core-mixins-v3';
@use '../fields-core-functions-v3/core-functions-v3';
@use '../../breakpoints';
// @use 'Assets/scss/blocks/smash-balloon-social-media-v3/smash-balloon-social-media-v3-extra';
.smash-balloon-social-media-v3 {
	position: relative;
	max-width: 100vw;
	&__instagram {
		width: 100%;
		position: relative;
		pointer-events: all;
		.sbi-owl-stage,
		.sbi-owl-item {
			min-width: core-functions.fluidSize(190, 'static');
		}
	}
	&[data-marquee] {
		.sbi-owl-stage {
			transition: none !important;
			animation: sbiScroll 30s linear infinite;
		}
	}

	@keyframes sbiScroll {
		0% {
			transform: translate3d(0, 0, 0);
		}
		100% {
			transform: translate3d(-50%, 0, 0);
		}
	}
	// @include smash-balloon-social-media-v3-extra.additionalStyles();
}
