@use 'Assets/scss/modules/library-modules/core-mixins/core-mixins';
@use 'Assets/scss/modules/library-modules/core-functions/core-functions';
@use 'Assets/scss/theme/breakpoints';

.reservebar-popup {
	display: grid;
	place-items: center;
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.415);
	z-index: 99;
	&__content {
		display: grid;
		background-color: grey;
		padding: core-functions.fluidSize(20, 'mobile');
		@include core-mixins.device(breakpoints.$tabPortrait) {
			padding: core-functions.fluidSize(20, 'portrait');
		}
		@include core-mixins.device(breakpoints.$tabLandscape) {
			padding: core-functions.fluidSize(20, 'landscape');
		}
		@include core-mixins.device(breakpoints.$desktop) {
			padding: core-functions.fluidSize(20, 'desktop');
		}
	}
	&__close {
		cursor: pointer;
		place-self: flex-end;
		&::before {
			content: 'X';
		}
	}
}
