@use '../fields-core-mixins/core-mixins';
@use '../fields-core-functions/core-functions';
@use '../component-breakpoints/breakpoints';
@use 'Assets/scss/blocks/breadcrumb-display/breadcrumb-display-extra';

.breadcrumb-display {
	&__text {
		color: var(--text-colour);
		a {
			color: var(--text-colour);
			&:hover {
				opacity: 0.8;
			}
		}
	}
	@include breadcrumb-display-extra.additionalStyles();
}
