@use 'NodeModules/@total_onion/onion-library/components/fields-core-mixins-v3/core-mixins-v3';
@use 'NodeModules/@total_onion/onion-library/components/fields-core-functions-v3/core-functions-v3';
@use 'Assets/scss/theme/breakpoints';
@use 'Assets/scss/blocks/site-logo-container-v3/site-logo-container-v3-extra';
.site-logo-container-v3 {
	&__site-logo {
		margin: auto;
		pointer-events: all;
		max-width: core-functions-v3.fluidSize(
			var(--site-logo-max-width-mobile),
			'mobile'
		);
		@include core-mixins-v3.device(breakpoints.$tabPortrait) {
			max-width: core-functions-v3.fluidSize(
				var(--site-logo-max-width-portrait),
				'portrait'
			);
		}
		@include core-mixins-v3.device(breakpoints.$tabLandscape) {
			max-width: core-functions-v3.fluidSize(
				var(--site-logo-max-width-desktop),
				'desktop'
			);
		}
	}
	&__site-logo-link {
		display: flex;
	}
	@include site-logo-container-v3-extra.additionalStyles();
}
