@use '../fields-core-mixins/core-mixins';
@use '../fields-core-functions/core-functions';
@use '../component-breakpoints/breakpoints';

@mixin contentImage() {
	width: 100%;
	height: auto;
	place-self: var(--image-position-horizontal) var(--image-position-vertical);
	translate: var(--image-position-offset-horizontal)
		var(--image-position-offset-vertical);
	rotate: var(--image-rotation);
	z-index: -1;
	border-radius: var(--content-image-border-radius);
	max-width: core-functions.fluidSize(
		var(--image-max-width-mobile),
		'mobile'
	);
	@include core-mixins.device(breakpoints.$tabPortrait) {
		max-width: core-functions.fluidSize(
			var(--image-max-width-portrait),
			'portrait'
		);
	}
	@include core-mixins.device(breakpoints.$tabLandscape) {
		max-width: core-functions.fluidSize(
			var(--image-max-width-desktop),
			'desktop'
		);
	}
}
