@use '../fields-core-mixins-v3/core-mixins-v3';
@use '../fields-core-functions-v3/core-functions-v3';
@use '../component-element-positioning-v3/element-positioning-v3';
@use '../../breakpoints';
@use 'NodeModules/swiper/swiper-bundle.min.css';

.carousel-multi-layout-v3 {
	display: grid;
	grid-template: 'main' / 1fr;
	overflow-x: var(--block-overflow, hidden);
	width: 100%;
	position: relative;
	background-color: var(--carousel-bg-colour);

	&__inner-container {
		width: 100%;
		height: 100%;
		position: relative;
		display: grid;
		grid-area: main;
		grid-template: 'main'/1fr;
	}
	&__swiper-carousel-container {
		width: 100%;
		height: 100%;
		grid-area: main;
		inset: 0;
		.swiper-wrapper {
			height: 100%;
		}
	}

	.swiper-button-disabled {
		pointer-events: none;
		opacity: 0;
	}

	.swiper-button-prev {
		left: var(--left-arrow-horizontally-mobile);
		@include core-mixins-v3.device(breakpoints.$tabPortrait) {
			left: var(--left-arrow-horizontally-portrait);
		}
		@include core-mixins-v3.device(breakpoints.$tabLandscape) {
			left: var(--left-arrow-horizontally-desktop);
		}
	}
	.swiper-button-next {
		right: var(--right-arrow-horizontally-mobile);
		@include core-mixins-v3.device(breakpoints.$tabPortrait) {
			right: var(--right-arrow-horizontally-portrait);
		}
		@include core-mixins-v3.device(breakpoints.$tabLandscape) {
			right: var(--right-arrow-horizontally-desktop);
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		top: var(--arrows-position-vertically-mobile);
		@include core-mixins-v3.device(breakpoints.$tabPortrait) {
			top: var(--arrows-position-vertically-portrait);
		}
		@include core-mixins-v3.device(breakpoints.$tabLandscape) {
			top: var(--arrows-position-vertically-desktop);
		}
		&::after {
			--swiper-navigation-size: #{core-functions-v3.fluidSize(
					var(--arrows-size-mobile),
					'mobile'
				)};
			@include core-mixins-v3.device(breakpoints.$tabPortrait) {
				--swiper-navigation-size: #{core-functions-v3.fluidSize(
						var(--arrows-size-portrait),
						'portrait'
					)};
			}
			@include core-mixins-v3.device(breakpoints.$tabLandscape) {
				--swiper-navigation-size: #{core-functions-v3.fluidSize(
						var(--arrows-size-desktop),
						'desktop'
					)};
			}
			text-rendering: auto;
			color: var(--swiper-arrow-colour);
		}
	}

	.custom_arrow {
		height: auto;
		width: core-functions-v3.fluidSize(
			var(--custom-arrows-size-mobile),
			'mobile'
		);
		@include core-mixins-v3.device(breakpoints.$tabPortrait) {
			width: core-functions-v3.fluidSize(
				var(--custom-arrows-size-portrait),
				'portrait'
			);
		}
		@include core-mixins-v3.device(breakpoints.$tabLandscape) {
			width: core-functions-v3.fluidSize(
				var(--custom-arrows-size-desktop),
				'desktop'
			);
		}
	}

	.swiper-pagination-bullets.swiper-pagination-horizontal {
		bottom: unset;
		left: unset;
		width: unset;
	}
	.swiper-pagination {
		@include element-positioning-v3.elementPositioning();
	}

	.swiper-pagination-bullet {
		background-color: transparent;
	}

	.swiper-pagination-bullet-active {
		background-color: var(--swiper-pagination-colour);
	}

	.swiper-pagination-fraction {
		color: var(--swiper-pagination-colour);
	}

	.swiper-slide {
		opacity: var(--next-and-prev-slide-opacity-mobile);

		@include core-mixins-v3.device(breakpoints.$tabPortrait) {
			opacity: var(--next-and-prev-slide-opacity-portrait);
		}

		@include core-mixins-v3.device(breakpoints.$tabLandscape) {
			opacity: var(--next-and-prev-slide-opacity-desktop);
		}
	}

	.swiper-slide-active {
		opacity: unset;
	}

	.swiper-button-next,
	.swiper-button-prev {
		display: var(--display-arrows-mobile);
		@include core-mixins-v3.device(breakpoints.$tabPortrait) {
			display: var(--display-arrows-portrait);
		}
		@include core-mixins-v3.device(breakpoints.$tabLandscape) {
			display: var(--display-arrows-desktop);
		}
	}
}
