@use '../component-content-box-settings-v3/content-box-settings-v3';
@use '../component-content-image-v3/content-image-v3';
@use '../component-accent-text-v3/accent-text-v3';
@use '../component-nav-menu-v3/nav-menu-v3';
@use '../component-blockquote-v3/blockquote-v3';

@mixin contentBoxV3() {
	@include content-box-settings-v3.contentBoxSettingsV3();
	@include nav-menu-v3.navMenuV3();
	@include blockquote-v3.blockquoteV3();
	@include accent-text-v3.accentTextV3();
	&__video-play-button-container {
		display: grid;
		width: 100%;
		pointer-events: all;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__video-play-button {
		grid-area: unset;
		place-self: var(--playbutton-vertical-alignment, center)
			var(--playbutton-horizontal-alignment, center);
	}
	&__content-image {
		@include content-image-v3.contentImageV3();
	}
}
