ptfg-9000 {
	display: grid;
	grid-template:
		'filter ..'
		'textinput toggleclass'
		'display display'
		'loadmore loadmore' / 1fr 1fr;
	background-color: black;

	--padding-block-multiplier-mobile-top: 1;
	--padding-inline-multiplier-mobile-right: 1;
	--padding-block-multiplier-mobile-bottom: 1;
	--padding-inline-multiplier-mobile-left: 1;
}
