@use 'Assets/scss/modules/library-modules/core-mixins-v3/core-mixins-v3';
@use 'Assets/scss/modules/library-modules/core-functions-v3/core-functions-v3';
@use 'Assets/scss/theme/breakpoints';
@use 'Assets/scss/blocks/site-title-and-tagline-v3/site-title-and-tagline-v3-extra';

.site-title-and-tagline-v3 {
	display: grid;
	grid-template: 'main' /1fr;
	place-items: center;
	text-align: center;
	&__title {
		font-weight: bold;
	}
	&__tagline {
		font-weight: bold;
	}
	@include site-title-and-tagline-v3-extra.additionalStyles();
}
