@use 'Assets/scss/modules/library-modules/core-mixins-v3/core-mixins-v3';
@use 'Assets/scss/modules/library-modules/core-functions-v3/core-functions-v3';
@use 'Assets/scss/theme/breakpoints';

@mixin accentTextV3() {
	&__accent-text {
		display: flex;
		align-items: center;
		color: var(--accent-text-colour-mobile);
		text-align: center;
		place-self: var(--alignment, center);
		font-family: var(--secondary-font-family);
		letter-spacing: 0.8em;
		text-transform: uppercase;

		gap: core-functions.fluidSize(10);
		margin-inline: core-functions.fluidSize(5, 'mobile');
		font-size: core-functions.fontSize(10, 'mobile');

		@include core-mixins.device(breakpoints.$tabPortrait) {
			font-size: core-functions.fontSize(10, 'portrait');
			margin-inline: core-functions.fluidSize(5, 'portrait');
			gap: core-functions.fluidSize(20, 'portrait');
		}

		@include core-mixins.device(breakpoints.$tabLandscape) {
			color: var(--accent-text-colour);
			font-size: core-functions.fontSize(10, 'desktop');
			margin-inline: core-functions.fluidSize(5, 'desktop');
			gap: core-functions.fluidSize(20, 'desktop');
		}

		&::before,
		&::after {
			content: '';
			background-color: var(
				--accent-text-colour-mobile,
				var(--default-text-colour-mobile)
			);
			width: core-functions.fluidSize(20, 'mobile');
			height: core-functions.fluidSize(2, 'mobile');

			@include core-mixins.device(breakpoints.$tabPortrait) {
				width: core-functions.fluidSize(40, 'portrait');
				height: core-functions.fluidSize(2, 'portrait');
			}

			@include core-mixins.device(breakpoints.$tabLandscape) {
				background-color: var(
					--accent-text-colour,
					var(--default-text-colour-desktop)
				);
				width: core-functions.fluidSize(80, 'desktop');
				height: core-functions.fluidSize(2, 'desktop');
			}
		}

		// @include accent-text-v3-extra.additionalStyles();
	}
}
