@use 'Assets/scss/modules/library-modules/core-mixins-v3/core-mixins-v3';
@use 'Assets/scss/modules/library-modules/core-functions-v3/core-functions-v3';
@use 'Assets/scss/theme/breakpoints';
@use 'Assets/scss/blocks/block-interactions-v3/block-interactions-v3-extra';
.block-interactions-v3 {
	&__block-close-button {
		cursor: pointer;
		border: unset;
		background: unset;
	}
	&__popup-trigger {
		appearance: none;
		border: unset;
		background-color: unset;
		display: flex;
	}
	svg {
		width: core-functions-v3.fluidSize(20, 'mobile');
		height: core-functions-v3.fluidSize(20, 'mobile');
		@include core-mixins-v3.device(breakpoints.$tabPortrait) {
			width: core-functions-v3.fluidSize(20, 'portrait');
			height: core-functions-v3.fluidSize(20, 'portrait');
		}
		@include core-mixins-v3.device(breakpoints.$tabLandscape) {
			width: core-functions-v3.fluidSize(20, 'desktop');
			height: core-functions-v3.fluidSize(20, 'desktop');
		}
	}
	@include block-interactions-v3-extra.additionalStyles();
}
