@use '../fields-core-mixins-v3/core-mixins-v3';
@use '../../breakpoints';

.spacer-v3 {
	width: 100%;
	position: relative;
	background-color: var(--spacer-bg-colour);
	height: calc(var(--global-inline-spacing) * var(--spacer-size-mult-mobile));

	@include core-mixins-v3.device(breakpoints.$tabPortrait) {
		height: calc(
			var(--global-inline-spacing) * var(--spacer-size-mult-portrait)
		);
	}

	@include core-mixins-v3.device(breakpoints.$tabLandscape) {
		height: calc(var(--global-inline-spacing) * var(--spacer-size-mult));
	}
}
