@use '../fields-core-mixins-v3/core-mixins-v3';
@use '../../breakpoints';
@use '../fields-core-functions-v3/core-functions-v3';

.spotify-embed-v3 {
	height: 100%;
	max-width: core-functions-v3.fluidSize(1086);
	margin: auto;
	iframe {
		pointer-events: all;
	}
}
