@use './lottie-animations-extra';

@mixin lottieAnimations() {
	&__lottie-animations {
		grid-area: unset;
		position: var(--lottie-position);
		width: 100%;
		height: auto;
		z-index: var(--lottie-z-index);
		opacity: 1;
	}
	@include lottie-animations-extra.additionalStyles();
}
