.spacer-v3 {
  width: 100%;
  position: relative;
  background-color: var(--spacer-bg-colour);
  height: calc(var(--global-inline-spacing) * var(--spacer-size-mult-mobile));
}
@media screen and (min-width: 768px) {
  .spacer-v3 {
    height: calc(var(--global-inline-spacing) * var(--spacer-size-mult-portrait));
  }
}
@media screen and (min-width: 1024px) {
  .spacer-v3 {
    height: calc(var(--global-inline-spacing) * var(--spacer-size-mult));
  }
}
