@use 'Assets/scss/modules/library-modules/core-mixins/core-mixins';
@use 'Assets/scss/modules/library-modules/core-functions/core-functions';
@use 'Assets/scss/theme/breakpoints';
@use './post-author-extra';

@mixin postauthorinfo() {
    &__post-author-info {
        &__container {
            justify-content: center;
        }
        &__wrapper {
            display: flex;
            flex-direction: row;
            gap: core-functions.fluidSize(15, 'static');
            align-items: center;
        }
        &--icon {
            flex: 0 0 core-functions.fluidSize(30, 'static');
            width: core-functions.fluidSize(30, 'static');
            height: core-functions.fluidSize(30, 'static');
            order: var(--post-author-icon-order);
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                background-color: var(--post-author-icon-bckgrnd-colour);
                border-radius: 50%;
                padding: core-functions.fluidSize(5, 'static');
            }
        }
        &--content {
            flex: 1;
            font-size: core-functions.fontSize(20, 'static');
            color: white;
            font-weight: bold;
            font-family: var(--secondary-font-family);
            .content-tooltip-wrapper {
                display: inline-block;
                position: relative;
            }
        }
        @include post-author-extra.additionalStyles();
    }
}