post-grid-display-module {
	grid-area: display;
	display: grid;

	.post-grid-display-module__grid-container {
		place-self: stretch;
		display: grid;
		padding: 10px;
		gap: 30px;
		grid-template-columns: 1fr;
		@media screen and (min-width: 768px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media screen and (min-width: 1440px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	.post-grid-display-module__post-container {
		display: grid;
		place-items: stretch;
		grid-template-rows: max-content;
		.post-grid-display-module__post-title {
			color: white;
			grid-row: 2;
			text-box-edge: unset;
			line-height: 120%;
			text-transform: uppercase;
			text-align: center;
			font-size: 36px;
			.font-secondary {
				display: block;
			}
		}
		.post-grid-display-module__post-image {
			grid-row: 1;
			width: 100%;
			height: auto;
			place-self: stretch;
			object-fit: cover;
			aspect-ratio: 9 / 11;
		}
	}
}
