post-grid-display-module {
	display: grid;
	background-color: hotpink;
	.post-grid-display-module__grid-container {
		place-self: stretch;
		display: grid;
		padding: 10px;
		gap: 10px;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}
	.post-grid-display-module__post-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
