@use 'Assets/scss/modules/library-modules/core-mixins/core-mixins';
@use 'Assets/scss/modules/library-modules/core-functions/core-functions';
@use 'Assets/scss/theme/breakpoints';
@use 'Assets/scss/blocks/site-logo-container/site-logo-container-extra';
.site-logo-container {
	&__site-logo {
		margin: auto;
		pointer-events: all;
		max-width: core-functions.fluidSize(
			var(--site-logo-max-width-mobile),
			'mobile'
		);
		@include core-mixins.device(breakpoints.$tabPortrait) {
			max-width: core-functions.fluidSize(
				var(--site-logo-max-width-portrait),
				'portrait'
			);
		}
		@include core-mixins.device(breakpoints.$tabLandscape) {
			max-width: core-functions.fluidSize(
				var(--site-logo-max-width-desktop),
				'desktop'
			);
		}
	}
	&__site-logo-link {
		display: flex;
	}
	@include site-logo-container-extra.additionalStyles();
}
