@use '../fields-core-functions-v3/core-functions-v3';
@use '../fields-core-mixins-v3/core-mixins-v3';
@use '../../breakpoints';

@layer base-styles {
	.scrolling-banner-v3 {
		display: flex;
		overflow-x: hidden;
		flex-wrap: nowrap;
		&__banner-container,
		> .scrolling-banner-v3 {
			overflow-x: hidden;
			color: var(--banner-text-colour);
			font-weight: var(--weight-extra-bold);
			width: 100%;
			display: flex;
			flex-wrap: nowrap;
			line-height: 1;
			text-transform: uppercase;
			height: auto;
			z-index: 99;
			place-self: var(--position);
		}

		&__wrapper {
			display: grid;
			grid-template: 'main' / 1fr;
			width: 100%;
			height: auto;
		}

		&__container {
			width: auto;
			display: flex;
			justify-content: flex-start;
			grid-area: main;
			position: absolute;
			left: 0;
			height: auto;
		}

		&__inner {
			width: auto;
			height: auto;
			overflow-y: hidden;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			align-self: flex-start;
			white-space: nowrap;
			font-size: core-functions-v3.fontSize(
				var(--text-size-mobile),
				'mobile'
			);

			@include core-mixins-v3.device(breakpoints.$tabPortrait) {
				font-size: core-functions-v3.fontSize(
					var(--text-size-portrait),
					'portrait'
				);
			}

			@include core-mixins-v3.device(breakpoints.$tabLandscape) {
				font-size: core-functions-v3.fontSize(
					var(--text-size-desktop),
					'desktop'
				);
			}
		}

		&__separator {
			margin: auto core-functions-v3.fluidSize(25, 'mobile');
			position: relative;
			height: 0.3em;
			width: 0.3em;
			display: grid;

			@include core-mixins-v3.device(breakpoints.$tabPortrait) {
				margin: auto core-functions-v3.fluidSize(25, 'portrait');
			}

			@include core-mixins-v3.device(breakpoints.$tabLandscape) {
				margin: auto core-functions-v3.fluidSize(25, 'desktop');
			}

			&::before {
				content: '';
				background-color: var(--banner-text-colour);
				width: 100%;
				height: 100%;
				position: absolute;
				display: grid;
				z-index: 1;
				place-self: center;
				border-radius: 50%;
			}
		}

		&--text-shadow {
			@include core-mixins-v3.textShadow();
		}
	}
}
