@use '../fields-core-mixins-v3/core-mixins-v3';
@use '../fields-core-typography-mixins-v3/core-typography-mixins-v3';
@use '../fields-core-functions-v3/core-functions-v3';
@use '../../breakpoints';
@use 'sass:math';

@mixin coreTypographyV3() {
	/* Box sizing rules */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	//***** TYPOGRAPHY *****\\
	body {
		@include core-typography-mixins-v3.fontSecondary();
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0; //reset default margin
		font-weight: unset; //reset default font weight
		margin-top: unset;
		@include core-typography-mixins-v3.fontPrimary();
	}
	.override-element-styles {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 0;
		}
	}

	.standard-content-box-wysiwyg-editor {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: var(--heading-block-spacing);

			&:last-child {
				margin-bottom: 0;
			}
		}
		p {
			margin-bottom: var(--paragraph-block-spacing);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	p {
		margin: 0; //reset default margin
		@include core-typography-mixins-v3.p();
	}

	a:not([class*='cmpl-cta-style-']) {
		text-decoration-skip-ink: auto;
		color: var(--link-colour);
		text-decoration: var(--link-decoration-style);
		text-decoration-color: var(--link-decoration-colour);

		strong,
		b {
			font-weight: var(--weight-bold);
		}

		&:hover {
			cursor: pointer;
			color: var(--link-colour-hover);
			text-decoration: var(--link-decoration-style-hover);
			text-decoration-color: var(--link-decoration-colour-hover);
		}
	}

	button {
		&:focus {
			// outline: none;
			// appearance: none;
		}
	}

	blockquote {
		margin: 0; //reset default margin
		quotes: '“' '”' '‘' '’';
		font-weight: bold;

		&::before {
			content: open-quote;
		}

		&::after {
			content: close-quote;
		}
	}

	figure,
	figcaption,
	dl,
	dd {
		margin: 0;
	}

	q {
		&::before {
			content: open-quote;
		}

		&::after {
			content: close-quote;
		}
	}

	ol {
		list-style-type: decimal;
	}
	ul {
		list-style-type: disc;
	}
	li {
		@include core-typography-mixins-v3.p();
	}
	ol {
		padding: 0; //reset default padding
		margin: 0; //reset default margin
		font-family: var(--secondary-font-family);
		margin-bottom: var(--paragraph-block-spacing);
		list-style-position: inside;
		&:last-child {
			margin-bottom: 0;
		}
		li {
			margin-bottom: var(--list-item-block-spacing);
			line-height: var(--list-item-line-height);
			letter-spacing: var(--list-item-letter-spacing);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.font-primary {
		@include core-typography-mixins-v3.fontPrimary();
	}
	.font-secondary {
		@include core-typography-mixins-v3.fontSecondary();
	}
	.font-tertiary {
		@include core-typography-mixins-v3.fontTertiary();
	}
	.font-quaternary {
		@include core-typography-mixins-v3.fontQuaternary();
	}
	.h1-l-sizing,
	.h-xl-sizing {
		@include core-typography-mixins-v3.h-xl();
	}
	.cmpl-text-editor-settings {
		.h-xl-fs {
			&-mobile {
				@media ( width <= #{breakpoints.$tabPortrait}) {
					@include core-typography-mixins-v3.h-xl-size();
				}
			}
			&-portrait {
				@media (#{breakpoints.$tabPortrait} <= width <= #{breakpoints.$tabLandscape}) {
					@include core-typography-mixins-v3.h-xl-size();
				}
			}
			&-desktop {
				@include core-mixins-v3.device(breakpoints.$tabLandscape) {
					@include core-typography-mixins-v3.h-xl-size();
				}
			}
		}
	}
	.h1-sizing,
	.h-l-sizing {
		@include core-typography-mixins-v3.h-l();
	}
	.cmpl-text-editor-settings {
		.h-l-fs {
			&-mobile {
				@media ( width <= #{breakpoints.$tabPortrait}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-portrait {
				@media (#{breakpoints.$tabPortrait} <= width <= #{breakpoints.$tabLandscape}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-desktop {
				@include core-mixins-v3.device(breakpoints.$tabLandscape) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
		}
	}
	.h2-sizing,
	.h-m-sizing {
		@include core-typography-mixins-v3.h-m();
	}
	.cmpl-text-editor-settings {
		.h-m-fs {
			&-mobile {
				@media ( width <= #{breakpoints.$tabPortrait}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-portrait {
				@media (#{breakpoints.$tabPortrait} <= width <= #{breakpoints.$tabLandscape}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-desktop {
				@include core-mixins-v3.device(breakpoints.$tabLandscape) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
		}
	}
	.h3-sizing,
	.h-s-sizing {
		@include core-typography-mixins-v3.h-s();
	}
	.cmpl-text-editor-settings {
		.h-s-fs {
			&-mobile {
				@media ( width <= #{breakpoints.$tabPortrait}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-portrait {
				@media (#{breakpoints.$tabPortrait} <= width <= #{breakpoints.$tabLandscape}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-desktop {
				@include core-mixins-v3.device(breakpoints.$tabLandscape) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
		}
	}
	.h4-sizing,
	.h-xs-sizing {
		@include core-typography-mixins-v3.h-xs();
	}
	.cmpl-text-editor-settings {
		.h-xs-fs {
			&-mobile {
				@media ( width <= #{breakpoints.$tabPortrait}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-portrait {
				@media (#{breakpoints.$tabPortrait} <= width <= #{breakpoints.$tabLandscape}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-desktop {
				@include core-mixins-v3.device(breakpoints.$tabLandscape) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
		}
	}
	.h5-sizing,
	.h-xxs-sizing {
		@include core-typography-mixins-v3.h-xxs();
	}
	.cmpl-text-editor-settings {
		.h-xxs-fs {
			&-mobile {
				@media ( width <= #{breakpoints.$tabPortrait}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-portrait {
				@media (#{breakpoints.$tabPortrait} <= width <= #{breakpoints.$tabLandscape}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-desktop {
				@include core-mixins-v3.device(breakpoints.$tabLandscape) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
		}
	}
	.h6-sizing,
	.h-xxxs-sizing {
		@include core-typography-mixins-v3.h-xxxs();
	}
	.cmpl-text-editor-settings {
		.h-xxxs-fs {
			&-mobile {
				@media ( width <= #{breakpoints.$tabPortrait}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-portrait {
				@media (#{breakpoints.$tabPortrait} <= width <= #{breakpoints.$tabLandscape}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-desktop {
				@include core-mixins-v3.device(breakpoints.$tabLandscape) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
		}
	}
	.sh1-sizing,
	.sh-xl-sizing {
		@include core-typography-mixins-v3.sh-xl();
	}
	.cmpl-text-editor-settings {
		.sh-xl-fs {
			&-mobile {
				@media ( width <= #{breakpoints.$tabPortrait}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-portrait {
				@media (#{breakpoints.$tabPortrait} <= width <= #{breakpoints.$tabLandscape}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-desktop {
				@include core-mixins-v3.device(breakpoints.$tabLandscape) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
		}
	}
	.sh2-sizing,
	.sh-l-sizing {
		@include core-typography-mixins-v3.sh-l();
	}
	.cmpl-text-editor-settings {
		.sh-l-fs {
			&-mobile {
				@media ( width <= #{breakpoints.$tabPortrait}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-portrait {
				@media (#{breakpoints.$tabPortrait} <= width <= #{breakpoints.$tabLandscape}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-desktop {
				@include core-mixins-v3.device(breakpoints.$tabLandscape) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
		}
	}
	.sh3-sizing,
	.sh-m-sizing {
		@include core-typography-mixins-v3.sh-m();
	}
	.cmpl-text-editor-settings {
		.sh-m-fs {
			&-mobile {
				@media ( width <= #{breakpoints.$tabPortrait}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-portrait {
				@media (#{breakpoints.$tabPortrait} <= width <= #{breakpoints.$tabLandscape}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-desktop {
				@include core-mixins-v3.device(breakpoints.$tabLandscape) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
		}
	}
	.sh4-sizing,
	.sh-s-sizing {
		@include core-typography-mixins-v3.sh-s();
	}
	.cmpl-text-editor-settings {
		.sh-s-fs {
			&-mobile {
				@media ( width <= #{breakpoints.$tabPortrait}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-portrait {
				@media (#{breakpoints.$tabPortrait} <= width <= #{breakpoints.$tabLandscape}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-desktop {
				@include core-mixins-v3.device(breakpoints.$tabLandscape) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
		}
	}
	.sh5-sizing,
	.sh-xs-sizing {
		@include core-typography-mixins-v3.sh-xs();
	}
	.cmpl-text-editor-settings {
		.sh-xs-fs {
			&-mobile {
				@media ( width <= #{breakpoints.$tabPortrait}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-portrait {
				@media (#{breakpoints.$tabPortrait} <= width <= #{breakpoints.$tabLandscape}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-desktop {
				@include core-mixins-v3.device(breakpoints.$tabLandscape) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
		}
	}
	.sh6-sizing,
	.sh-xxs-sizing {
		@include core-typography-mixins-v3.sh-xxs();
	}
	.cmpl-text-editor-settings {
		.sh-xxs-fs {
			&-mobile {
				@media ( width <= #{breakpoints.$tabPortrait}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-portrait {
				@media (#{breakpoints.$tabPortrait} <= width <= #{breakpoints.$tabLandscape}) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
			&-desktop {
				@include core-mixins-v3.device(breakpoints.$tabLandscape) {
					@include core-typography-mixins-v3.h-l-size();
				}
			}
		}
	}
	.p-l-sizing {
		@include core-typography-mixins-v3.p-l();
	}
	.cmpl-text-editor-settings {
		.p-l-fs {
			&-mobile {
				@media ( width <= #{breakpoints.$tabPortrait}) {
					@include core-typography-mixins-v3.p-l-size();
				}
			}
			&-portrait {
				@media (#{breakpoints.$tabPortrait} <= width <= #{breakpoints.$tabLandscape}) {
					@include core-typography-mixins-v3.p-l-size();
				}
			}
			&-desktop {
				@include core-mixins-v3.device(breakpoints.$tabLandscape) {
					@include core-typography-mixins-v3.p-l-size();
				}
			}
		}
	}
	.p-sizing {
		@include core-typography-mixins-v3.p();
	}
	.cmpl-text-editor-settings {
		.p-m-fs {
			&-mobile {
				@media ( width <= #{breakpoints.$tabPortrait}) {
					@include core-typography-mixins-v3.p-size();
				}
			}
			&-portrait {
				@media (#{breakpoints.$tabPortrait} <= width <= #{breakpoints.$tabLandscape}) {
					@include core-typography-mixins-v3.p-size();
				}
			}
			&-desktop {
				@include core-mixins-v3.device(breakpoints.$tabLandscape) {
					@include core-typography-mixins-v3.p-size();
				}
			}
		}
	}
	.p-s-sizing {
		@include core-typography-mixins-v3.p-s();
	}
	.cmpl-text-editor-settings {
		.p-s-fs {
			&-mobile {
				@media ( width <= #{breakpoints.$tabPortrait}) {
					@include core-typography-mixins-v3.p-s-size();
				}
			}
			&-portrait {
				@media (#{breakpoints.$tabPortrait} <= width <= #{breakpoints.$tabLandscape}) {
					@include core-typography-mixins-v3.p-s-size();
				}
			}
			&-desktop {
				@include core-mixins-v3.device(breakpoints.$tabLandscape) {
					@include core-typography-mixins-v3.p-s-size();
				}
			}
		}
	}
	.p-xs-sizing {
		@include core-typography-mixins-v3.p-xs();
	}
	.cmpl-text-editor-settings {
		.p-xs-fs {
			&-mobile {
				@media ( width <= #{breakpoints.$tabPortrait}) {
					@include core-typography-mixins-v3.p-xs-size();
				}
			}
			&-portrait {
				@media (#{breakpoints.$tabPortrait} <= width <= #{breakpoints.$tabLandscape}) {
					@include core-typography-mixins-v3.p-xs-size();
				}
			}
			&-desktop {
				@include core-mixins-v3.device(breakpoints.$tabLandscape) {
					@include core-typography-mixins-v3.p-xs-size();
				}
			}
		}
	}
	.p-xxs-sizing {
		@include core-typography-mixins-v3.p-xxs();
	}
	.cmpl-text-editor-settings {
		.p-xxs-fs {
			&-mobile {
				@media ( width <= #{breakpoints.$tabPortrait}) {
					@include core-typography-mixins-v3.p-xxs-size();
				}
			}
			&-portrait {
				@media (#{breakpoints.$tabPortrait} <= width <= #{breakpoints.$tabLandscape}) {
					@include core-typography-mixins-v3.p-xxs-size();
				}
			}
			&-desktop {
				@include core-mixins-v3.device(breakpoints.$tabLandscape) {
					@include core-typography-mixins-v3.p-xxs-size();
				}
			}
		}
	}
	.p-xxxs-sizing {
		@include core-typography-mixins-v3.p-xxxs();
	}
	.cmpl-text-editor-settings {
		.p-xxs-fs {
			&-mobile {
				@media ( width <= #{breakpoints.$tabPortrait}) {
					@include core-typography-mixins-v3.p-xxxs-size();
				}
			}
			&-portrait {
				@media (#{breakpoints.$tabPortrait} <= width <= #{breakpoints.$tabLandscape}) {
					@include core-typography-mixins-v3.p-xxxs-size();
				}
			}
			&-desktop {
				@include core-mixins-v3.device(breakpoints.$tabLandscape) {
					@include core-typography-mixins-v3.p-xxxs-size();
				}
			}
		}
	}
}
