@use 'Assets/scss/modules/library-modules/core-mixins/core-mixins';
@use 'Assets/scss/modules/library-modules/core-functions/core-functions';
@use 'Assets/scss/theme/breakpoints';
@use 'Assets/scss/theme/mixins';
@use 'Assets/scss/modules/library-modules/core-cta/core-cta';

.card-carousel-v2 {
	@include core-cta.ctaButtonStyles();

	position: relative;
	background-color: var(--block-background-colour);

	&__container {
		display: flex;
		overflow: scroll;
		scroll-snap-type: x mandatory;
		scrollbar-width: none;
		scroll-padding-left: core-functions.fluidSize(20, 'static');
		-webkit-overflow-scrolling: touch;
		padding-bottom: core-functions.fluidSize(20, 'static');

		@include core-mixins.device(breakpoints.$tabPortrait) {
			scroll-snap-type: none;
		}

		@include core-mixins.device(breakpoints.$tabLandscape) {
			scroll-padding-left: core-functions.fluidSize(20, 'desktop');
			padding-bottom: core-functions.fluidSize(20, 'desktop');
		}

		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}

		&.grabbing {
			cursor: grabbing;
			scroll-snap-type: none;

			a {
				pointer-events: none;
			}
		}

		&.snap {
			scroll-snap-type: x mandatory;
		}
	}

	&__title {
		@include core-mixins.defaultTextAlign();

		position: relative;
		z-index: 10;
		color: var(--white-text);
		padding-inline: calc(var(--global-inline-spacing) / 2);
		text-transform: var(--default-text-transform-mobile);
		font-weight: var(--default-font-weight-mobile);
		white-space: pre-line;
		-webkit-text-stroke: core-functions.fontSize(
				var(--text-stroke-width),
				'static'
			)
			var(--text-stroke-colour);
		margin-bottom: core-functions.fluidSize(
			var(--carousel_title_margin_bottom_mobile),
			'mobile'
		);

		@include core-mixins.device(breakpoints.$tabPortrait) {
			margin-bottom: core-functions.fluidSize(
				var(--carousel_title_margin_bottom_desktop),
				'portrait'
			);
		}

		@include core-mixins.device(breakpoints.$tabLandscape) {
			margin-bottom: core-functions.fluidSize(
				var(--carousel_title_margin_bottom_desktop),
				'desktop'
			);
			text-transform: var(--default-text-transform-desktop);
			font-weight: var(--default-font-weight-desktop);
		}
	}
	&__text-shadow {
		@include core-mixins.textShadow();
	}

	&__slide {
		background: var(--card-background-colour);
		border-radius: var(--card-border-radius);
		overflow: hidden;
		flex-shrink: 0;
		scroll-snap-align: start;
		width: core-functions.fluidSize(325, 'static');
		margin-right: core-functions.fluidSize(20, 'static');
		display: grid;
		grid-template:
			'image'
			'content' 1fr /1fr;

		&:hover {
			text-decoration: none;
			color: unset;
		}

		@include core-mixins.device(breakpoints.$tabLandscape) {
			width: core-functions.fluidSize(325, 'desktop');
			margin-right: core-functions.fluidSize(20, 'desktop');
		}

		&--spacer {
			width: 0;

			@include core-mixins.device(breakpoints.$tabPortrait) {
				margin-right: var(--side-padding-portrait);
			}

			@include core-mixins.device(breakpoints.$tabLandscape) {
				margin-right: var(--side-padding-desktop);
				display: none;

				&.use-desktop-spacer {
					display: block;
				}
			}

			&.safari {
				display: none;

				.safari & {
					display: block;
				}

				width: 1px;
				opacity: 0;
				pointer-events: none;

				@include core-mixins.device(breakpoints.$tabLandscape) {
					.safari & {
						display: block;
					}
				}
			}
		}

		&--intro {
			background: unset;
			color: var(--white-text);
			background-color: transparent;
			display: none;
			margin-right: core-functions.fluidSize(126, 'static');
			width: core-functions.fluidSize(375, 'static');
			padding-left: core-functions.fluidSize(20, 'mobile');

			@include core-mixins.device(breakpoints.$tabPortrait) {
				padding-left: core-functions.fluidSize(40, 'portrait');
				width: core-functions.fluidSize(375, 'portrait');
			}

			@include core-mixins.device(breakpoints.$tabLandscape) {
				width: core-functions.fluidSize(375, 'desktop');
				padding-left: core-functions.fluidSize(40, 'desktop');
				display: flex;
			}

			&__title {
				margin-bottom: core-functions.fluidSize(30, 'static');

				@include core-mixins.device(breakpoints.$tabLandscape) {
					margin-bottom: core-functions.fluidSize(30, 'desktop');
				}
			}

			&__link {
				margin-left: 0;

				margin-bottom: core-functions.fluidSize(30, 'static');

				@include core-mixins.device(breakpoints.$tabLandscape) {
					margin-bottom: core-functions.fluidSize(30, 'desktop');
				}
			}

			.subscribe-trigger {
				text-decoration: underline;
				transition: color 0.3s;

				&:hover {
					text-decoration: none;
					cursor: pointer;
				}
			}

			.card-carousel-v2__content-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: core-functions.fluidSize(20, 'static');
			}
			.card-carousel-v2__cta {
				align-self: start;
			}
		}

		&--subscribe-card {
			background: unset;
			color: var(--white-text);
			align-items: flex-end;
			cursor: pointer;

			&__heading {
				font-size: core-functions.fluidSize(44, 'static');
				margin-bottom: core-functions.fluidSize(47, 'static');
				text-transform: uppercase;
				line-height: 86%;

				@include core-mixins.device(breakpoints.$tabLandscape) {
					font-size: core-functions.fluidSize(44, 'desktop');
					margin-bottom: core-functions.fluidSize(47, 'desktop');
				}
			}
		}
	}

	&__image {
		height: core-functions.fluidSize(300, 'static');
		grid-area: image;
		aspect-ratio: 13 / 12;
		object-fit: cover;

		@include core-mixins.device(breakpoints.$tabLandscape) {
			height: core-functions.fluidSize(300, 'desktop');
		}

		.grabbing & {
			-webkit-user-drag: none;
			-khtml-user-drag: none;
			-moz-user-drag: none;
			-o-user-drag: none;
			user-drag: none;
			pointer-events: none;
		}
	}

	&__content-container {
		grid-area: content;
		padding: core-functions.fluidSize(20, 'static');
		display: grid;

		@include core-mixins.device(breakpoints.$tabLandscape) {
			padding: core-functions.fluidSize(20, 'desktop');
		}
	}

	&__arrow {
		position: absolute;
		font-size: core-functions.fluidSize(30, 'static');
		color: white;
		top: 50%;
		font-family: swiper-icons;
		transition: opacity 0.3s;
		z-index: 10;

		&.hidden {
			opacity: 0;
		}

		&.hidden-desktop {
			@include core-mixins.device(breakpoints.$tabLandscape) {
				opacity: 0;
			}
		}

		&:hover {
			cursor: pointer;
		}

		@include core-mixins.device(breakpoints.$tabLandscape) {
			font-size: core-functions.fluidSize(30, 'desktop');
		}

		&--prev,
		&--next {
			padding: core-functions.fluidSize(10, 'static');

			@include core-mixins.device(breakpoints.$tabLandscape) {
				padding: core-functions.fluidSize(10, 'desktop');
			}
			svg {
				height: auto;
				width: core-functions.fluidSize(
					var(--arrow-size-mobile),
					'mobile'
				);

				@include core-mixins.device(breakpoints.$tabPortrait) {
					width: core-functions.fluidSize(
						var(--arrow-size-portrait),
						'portrait'
					);
				}
				@include core-mixins.device(breakpoints.$tabLandscape) {
					width: core-functions.fluidSize(
						var(--arrow-size-desktop),
						'desktop'
					);
				}

				* {
					stroke: var(--arrows-color);
				}
			}
		}

		&--prev:hover,
		&--next:hover {
			cursor: pointer;
		}

		&--prev {
			left: core-functions.fluidSize(10, 'static');
			@include core-mixins.device(breakpoints.$tabLandscape) {
				left: core-functions.fluidSize(10, 'desktop');
			}
		}

		&--next {
			right: core-functions.fluidSize(10, 'static');

			@include core-mixins.device(breakpoints.$tabLandscape) {
				right: core-functions.fluidSize(10, 'desktop');
			}
		}
	}

	&__text {
		-webkit-line-clamp: 2;
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		color: var(--black-text);
		line-height: 129%;
		font-size: core-functions.fontSize(16, 'static');

		@include core-mixins.device(breakpoints.$tabLandscape) {
			font-size: core-functions.fontSize(16, 'desktop');
		}
	}

	&__link {
		background-color: transparent;
		margin-top: core-functions.fluidSize(20, 'static');
		margin-right: auto;
		align-self: flex-end;
		margin-left: 0;

		@include core-mixins.device(breakpoints.$tabLandscape) {
			margin-top: core-functions.fluidSize(20, 'desktop');
		}
	}

	&__mobile-subscribe {
		display: grid;
		place-items: center;
		color: var(--white-text);
		width: 100%;
		text-align: center;
		padding: core-functions.fluidSize(20, 'static')
			core-functions.fluidSize(60, 'static') 0
			core-functions.fluidSize(60, 'static');

		@include core-mixins.device(breakpoints.$tabLandscape) {
			padding: core-functions.fluidSize(20, 'desktop')
				core-functions.fluidSize(60, 'desktop') 0
				core-functions.fluidSize(60, 'desktop');
		}

		.subscribe-trigger {
			color: var(--white-text);
			border: none;
			background: transparent;
			transition: color 0.3s;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
				cursor: pointer;
			}
		}

		@include core-mixins.device(breakpoints.$tabLandscape) {
			display: none;
		}
	}

	&__mobile-text {
		font-size: core-functions.fontSize(16, 'static');
		line-height: 137%;
		font-family: var(--primary-font-family);

		@include core-mixins.device(breakpoints.$tabLandscape) {
			font-size: core-functions.fontSize(16, 'desktop');
		}
	}
}
