{% extends "base.twig" %}

{% block content %}
    {% if password_form is defined %}
        {{ password_form }}
    {% else %}
        <p>{{__('Password form is not available.', 'Global Theme')}}</p>
    {% endif %}
{% endblock %}