@use '../fields-core-mixins/core-mixins';
@use '../fields-core-functions/core-functions';
@use '../component-breakpoints/breakpoints';
@use 'Assets/scss/blocks/collection-carousel/collection-carousel-extra';

.collection-carousel {
	display: grid;
	grid-template: 'swiper' 'info' / 1fr;

	@include core-mixins.device(breakpoints.$tabPortrait) {
		grid-template-areas:
			'swiper'
			'info';
	}

	@include core-mixins.device(breakpoints.$tabLandscape) {
		grid-gap: 0;
		grid-template: 'info swiper' / 1fr 2fr;
	}

	&__left-container {
		display: grid;
		grid-area: info;
	}

	&__left-wrapper {
		overflow: hidden;
	}

	&__left-slide {
		grid-area: middle;
	}

	&__right-container {
		grid-area: swiper;
		overflow: hidden;
		position: relative;
	}

	&__product-image {
	}

	&__product-title-info {
		display: none;

		@include core-mixins.device(breakpoints.$tabLandscape) {
			display: block;
		}
	}

	&__product-title-main {
		text-align: center;

		@include core-mixins.device(breakpoints.$tabLandscape) {
			display: none;
		}
	}
	@include collection-carousel-extra.additionalStyles();
}
