@use 'Assets/scss/modules/library-modules/core-mixins/core-mixins'; 
// @use 'Assets/scss/modules/library-modules/core-functions/core-functions';
@use 'Assets/scss/theme/breakpoints';
@use './spotify-embed-extra';

@mixin spotify-embed() {
	.spotify-embed {
		height: var(--mobile-height, 350px);
		@include core-mixins.device(breakpoints.$tabPortrait) {
			height: var(--tablet-height, 352px);
		}
		@include core-mixins.device(breakpoints.$tabLandscape) {
				height: var(--desktop-height, 352px);
		}
		@include spotify-embed-extra.additionalStyles();
	}
}