@use 'NodeModules/@total_onion/onion-library/components/fields-core-mixins-v3/core-mixins-v3';
@use 'NodeModules/@total_onion/onion-library/components/fields-core-functions-v3/core-functions-v3';
@use 'Assets/scss/theme/breakpoints';

.section-separator-v3 {
	@include core-mixins-v3.responsiveShowHide(grid);

	&__separator-image {
		width: 100%;
		position: absolute;
		display: block;
		translate: 0 -50%;
		height: auto;
		top: 0;
	}

	&__secondary-image {
		position: absolute;
		place-self: center var(--horizontal-position);
		translate: var(--horizontal-offset) var(--vertical-offset);
		top: 0;
		max-width: core-functions-v3.fluidSize(
			var(--max-width-mobile),
			'mobile'
		);

		@include core-mixins-v3.device(breakpoints.$tabPortrait) {
			max-width: core-functions-v3.fluidSize(
				var(--max-width-portrait),
				'portrait'
			);
			@include core-mixins-v3.device(breakpoints.$tabLandscape) {
				max-width: core-functions-v3.fluidSize(
					var(--max-width-desktop),
					'desktop'
				);
			}
		}
	}
}
