.scrolling-banner-v3 {
  display: flex;
  overflow-x: hidden;
  flex-wrap: nowrap;
}
.scrolling-banner-v3__banner-container,
.scrolling-banner-v3 > .scrolling-banner-v3 {
  overflow-x: hidden;
  color: var(--banner-text-colour);
  font-weight: var(--weight-extra-bold);
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  line-height: 1;
  text-transform: uppercase;
  height: auto;
  z-index: 99;
  align-self: var(--position);
  justify-self: var(--position);
  place-self: var(--position);
}
.scrolling-banner-v3__wrapper {
  display: grid;
  grid-template: "main"/1fr;
  width: 100%;
  height: auto;
}
.scrolling-banner-v3__container {
  width: auto;
  display: flex;
  justify-content: flex-start;
  grid-area: main;
  position: absolute;
  left: 0;
  height: auto;
}
.scrolling-banner-v3__inner {
  width: auto;
  height: auto;
  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-self: flex-start;
  white-space: nowrap;
  font-size: calc(var(--text-size-mobile) / var(--design-reference) * var(--font-reference) * var(--font-size-multiplier));
}
@media screen and (min-width: 768px) {
  .scrolling-banner-v3__inner {
    font-size: calc(var(--text-size-portrait) / var(--design-reference) * var(--font-reference) * var(--font-size-multiplier));
  }
}
@media screen and (min-width: 1024px) {
  .scrolling-banner-v3__inner {
    font-size: calc(var(--text-size-desktop) / var(--design-reference) * var(--font-reference) * var(--font-size-multiplier));
  }
}
.scrolling-banner-v3__separator {
  margin: auto calc(25 / var(--design-reference) * var(--screen-width));
  position: relative;
  height: 0.3em;
  width: 0.3em;
  display: grid;
}
@media screen and (min-width: 768px) {
  .scrolling-banner-v3__separator {
    margin: auto calc(25 / var(--design-reference) * var(--screen-width));
  }
}
@media screen and (min-width: 1024px) {
  .scrolling-banner-v3__separator {
    margin: auto calc(25 / var(--design-reference) * var(--screen-width));
  }
}
.scrolling-banner-v3__separator::before {
  content: "";
  background-color: var(--banner-text-colour);
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  z-index: 1;
  align-self: center;
  justify-self: center;
  place-self: center;
  border-radius: 50%;
}
.scrolling-banner-v3__separator--image {
  width: 1.5em;
  width: var(--separator-image-width, 1.5em);
  height: auto;
}
.scrolling-banner-v3--text-shadow {
  text-shadow: calc(var(--text-shadow-offset-x) / var(--desktop-design-reference) * var(--screen-width-static)) calc(var(--text-shadow-offset-y) / var(--desktop-design-reference) * var(--screen-width-static)) calc(var(--text-shadow-blur) / var(--desktop-design-reference) * var(--screen-width-static)) var(--text-shadow-colour);
}
