@use 'NodeModules/@total_onion/onion-library/components/fields-core-mixins-v3/core-mixins-v3';
@use 'NodeModules/@total_onion/onion-library/components/fields-core-functions-v3/core-functions-v3';
@use 'Assets/scss/theme/breakpoints';

@mixin blockquoteV3() {
	&__blockquote {
		display: flex;
		flex-direction: column;
		font-weight: unset;
		gap: core-functions-v3.fluidSize(20, 'static');
		&::before {
			content: unset;
		}
		&::after {
			content: unset;
		}
		&-quote-text {
			font-weight: var(--default-font-weight-mobile);
			text-transform: var(--default-text-transform-mobile);
			text-align: var(--default-text-align-mobile);
			color: var(--default-text-colour-mobile);
			-webkit-text-stroke: core-functions-v3.fontSize(
					var(--text-stroke-width),
					'static'
				)
				var(--text-stroke-colour);

			@include core-mixins-v3.device(breakpoints.$tabLandscape) {
				font-weight: var(--default-font-weight-desktop);
				text-transform: var(--default-text-transform-desktop);
				text-align: var(--default-text-align-desktop);
				color: var(--default-text-colour-desktop);
			}
			&:before {
				position: absolute;
				left: -0.6em;
				font-size: var(--quotes-size);
			}
			&:after {
				content: var(--hide-close-quote);
				position: absolute;
				bottom: calc(var(--quotes-size) * -0.04);
				font-size: var(--quotes-size);
			}
		}
	}
	footer {
		align-self: var(--footer-align);
		color: var(--default-text-colour-mobile);
		@include core-mixins-v3.device(breakpoints.$tabLandscape) {
			color: var(--default-text-colour-desktop);
		}
	}
}
