@use 'Assets/scss/theme/breakpoints';
@use 'Assets/scss/modules/library-modules/core-mixins/core-mixins';
@use 'Assets/scss/modules/library-modules/core-functions/core-functions';

@mixin blockPadding() {
	.cmpl-block-padding {
		padding: calc(
				var(--global-inline-spacing) *
					var(--padding-block-multiplier-mobile-top)
			)
			calc(
				var(--global-inline-spacing) *
					var(--padding-inline-multiplier-mobile-right)
			)
			calc(
				var(--global-inline-spacing) *
					var(--padding-block-multiplier-mobile-bottom)
			)
			calc(
				var(--global-inline-spacing) *
					var(--padding-inline-multiplier-mobile-left)
			);

		@include core-mixins.device(breakpoints.$tabPortrait) {
			padding: calc(
					var(--global-inline-spacing) *
						var(--padding-block-multiplier-portrait-top)
				)
				calc(
					var(--global-inline-spacing) *
						var(--padding-inline-multiplier-portrait-right)
				)
				calc(
					var(--global-inline-spacing) *
						var(--padding-block-multiplier-portrait-bottom)
				)
				calc(
					var(--global-inline-spacing) *
						var(--padding-inline-multiplier-portrait-left)
				);
		}

		@include core-mixins.device(breakpoints.$tabLandscape) {
			padding: calc(
					var(--global-inline-spacing) *
						var(--padding-block-multiplier-desktop-top)
				)
				calc(
					var(--global-inline-spacing) *
						var(--padding-inline-multiplier-desktop-right)
				)
				calc(
					var(--global-inline-spacing) *
						var(--padding-block-multiplier-desktop-bottom)
				)
				calc(
					var(--global-inline-spacing) *
						var(--padding-inline-multiplier-desktop-left)
				);
		}
	}
}
