@use '../fields-core-functions-v3/core-functions-v3';
@use '../component-grid-layout-element-v3/grid-layout-element-v3';
@use '../../breakpoints';
// @use './social-media-share-v3-extra';

@mixin social-media-share() {
	.social-media-share-popup {
		@include grid-layout-element-v3.gridLayoutElement();
		.social-media-page-content {
			display: grid;
			grid-template-areas: ' left right ';
			grid-template-columns: fit-content(100%) fit-content(100%);
			grid-gap: var(--social-media-share-grid-gap);
			place-content: var(--social-media-share-horizontal-align);
			align-items: center;

			.social-media-share-text {
				grid-area: var(--social-media-share-col1);
				color: var(--theme-primary-text-colour);
				text-decoration-line: underline;
				font-size: core-functions-v3.fontSize(16, 'static');
				cursor: pointer;
			}

			.social-media-share-icon {
				grid-area: var(--social-media-share-col2);
				padding-top: core-functions-v3.fluidSize(9, 'static');

				.share-icon-img {
					transform: rotate(var(--social-share-icon-rotate));
					cursor: pointer;
				}
			}
		}

		dialog::backdrop {
			backdrop-filter: blur(10px);
		}

		dialog {
			min-width: core-functions-v3.fluidSize(334, 'static');
			width: calc(100% - 30px);
			max-width: core-functions-v3.fluidSize(330, 'static');
			overflow: visible;
			box-shadow: var(--social-share-popup-shadow);
			background-color: var(--social-share-popup-background-colour);
			border-radius: core-functions-v3.fluidSize(20, 'static');
			border: none;
			padding: core-functions-v3.fluidSize(40, 'static')
				core-functions-v3.fluidSize(20, 'static');
			height: -moz-fit-content;
			height: fit-content;
			font-size: core-functions-v3.fontSize(50, 'static');
			line-height: 1em;
			text-transform: uppercase;

			.icon-close {
				background-color: white;
				width: core-functions-v3.fluidSize(48, 'static');
				height: core-functions-v3.fluidSize(48, 'static');
				border-radius: 50%;
				position: absolute;
				top: core-functions-v3.fluidSize(-25, 'static');
				right: core-functions-v3.fluidSize(20, 'static');
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
			}

			.dialog-actions {
				text-align: center;

				h3 {
					font-size: core-functions-v3.fontSize(50, 'static');
					font-family: var(--primary-font-family);
					color: var(--social-share-popup-font-colour);
				}

				.wrapper-content-icons {
					display: flex;
					justify-content: center;
					column-gap: 1rem;
					padding-top: core-functions-v3.fluidSize(20, 'static');

					a {
						background-color: #ffffff;
						border-radius: 50%;
						height: core-functions-v3.fluidSize(
							var(--social-media-share-a-size, 40),
							'static'
						);

						svg {
							padding-top: core-functions-v3.fluidSize(
								5,
								'static'
							);
						}

						svg:hover {
							fill: purple;
						}

						svg:hover rect {
							fill: purple;
						}

						svg:hover path {
							fill: purple;
						}
					}

					a:focus-visible {
						outline: unset;
					}
				}

				.social-media-message {
					display: none;
					color: white;
					font-size: core-functions-v3.fontSize(16, 'static');
					justify-content: center;
					align-items: center;
				}
			}
		}

		// @include social-media-share-v3-extra.additionalStyles();
	}
}
