@charset "UTF-8";
.sub-group-container-v3 {
  display: grid;
  grid-template: "main"/1fr;
  align-items: center;
  justify-items: center;
  place-items: center;
}
.sub-group-container-v3__grid-container {
  grid-area: main;
  align-self: stretch;
  justify-self: stretch;
  place-self: stretch;
}
.sub-group-container-v3__grid-container.flex-layout-container {
  display: flex;
  display: var(--display-type, flex);
  justify-content: flex-start;
  justify-content: var(--justify-content-mobile, flex-start);
  flex-direction: row;
  flex-direction: var(--flex-direction-mobile, row);
  align-items: center;
  align-items: var(--align-items-mobile, center);
  gap: calc(var(--global-inline-spacing) * 0) calc(var(--global-inline-spacing) * 0);
  gap: calc(var(--global-inline-spacing) * var(--row-gap-mult-mobile, 0)) calc(var(--global-inline-spacing) * var(--column-gap-mult-mobile, 0));
  flex-wrap: nowrap;
  flex-wrap: var(--flex-wrap-mobile, nowrap);
}
@media screen and (min-width: 768px) {
  .sub-group-container-v3__grid-container.flex-layout-container {
    justify-content: flex-start;
    justify-content: var(--justify-content-portrait, flex-start);
    flex-direction: row;
    flex-direction: var(--flex-direction-portrait, row);
    align-items: center;
    align-items: var(--align-items-portrait, center);
    gap: calc(var(--global-inline-spacing) * 0) calc(var(--global-inline-spacing) * 0);
    gap: calc(var(--global-inline-spacing) * var(--row-gap-mult-portrait, 0)) calc(var(--global-inline-spacing) * var(--column-gap-mult-portrait, 0));
    flex-wrap: nowrap;
    flex-wrap: var(--flex-wrap-portrait, nowrap);
  }
}
@media screen and (min-width: 1024px) {
  .sub-group-container-v3__grid-container.flex-layout-container {
    justify-content: flex-start;
    justify-content: var(--justify-content-desktop, flex-start);
    flex-direction: row;
    flex-direction: var(--flex-direction-desktop, row);
    align-items: center;
    align-items: var(--align-items-desktop, center);
    gap: calc(var(--global-inline-spacing) * 0) calc(var(--global-inline-spacing) * 0);
    gap: calc(var(--global-inline-spacing) * var(--row-gap-mult-desktop, 0)) calc(var(--global-inline-spacing) * var(--column-gap-mult-desktop, 0));
    flex-wrap: nowrap;
    flex-wrap: var(--flex-wrap-desktop, nowrap);
  }
}
.sub-group-container-v3__grid-container.grid-layout-container {
  display: "grid";
  display: var(--display-type, "grid");
  position: relative;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  scroll-snap-type: none;
  scroll-snap-type: var(--scroll-snap-type-mobile, none);
}
.sub-group-container-v3__grid-container.grid-layout-container > div {
  scroll-snap-align: start;
  scroll-snap-align: var(--scroll-snap-align-mobile, start);
}
.sub-group-container-v3__grid-container.grid-layout-container {
  overflow: hidden;
  overflow: var(--container-overflow-type-mobile, hidden);
  grid-gap: calc(var(--global-inline-spacing) * 0) calc(var(--global-inline-spacing) * 0);
  grid-gap: calc(var(--global-inline-spacing) * var(--row-gap-mult-mobile, 0)) calc(var(--global-inline-spacing) * var(--column-gap-mult-mobile, 0));
  grid-auto-flow: row;
  grid-auto-flow: var(--grid-auto-flow-mobile, row);
  grid-auto-columns: 1fr;
  grid-auto-columns: var(--grid-auto-columns-mobile, 1fr);
  grid-auto-rows: auto;
  grid-auto-rows: var(--grid-auto-rows-mobile, auto);
  grid-template-columns: var(--grid-template-columns-custom-mobile, repeat(var(--grid-template-columns-mobile), 1fr));
  grid-template-columns: var(--grid-template-columns-custom-mobile, repeat(var(--grid-template-columns-mobile), var(--grid-auto-columns-mobile, 1fr)));
  grid-template-rows: var(--grid-template-rows-custom-mobile, repeat(var(--grid-template-rows-mobile), 1fr));
  grid-template-rows: var(--grid-template-rows-custom-mobile, repeat(var(--grid-template-rows-mobile), var(--grid-auto-rows-mobile, 1fr)));
}
@media screen and (min-width: 1024px) {
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-desktop::scroll-button(left) {
    content: "\25c4";
    position: absolute;
    align-self: center;
    justify-self: flex-start;
    place-self: center flex-start;
    z-index: 50;
  }
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-desktop::scroll-button(right) {
    content: "\25ba";
    position: absolute;
    align-self: center;
    justify-self: flex-end;
    place-self: center flex-end;
    z-index: 50;
  }
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-desktop::scroll-button(*) {
    border: 1px solid black;
    border-radius: 10px;
    font-size: var(--scroll-button-font-size, calc(30 / var(--design-reference) * var(--screen-width)));
    background: rgba(0, 0, 0, 0.163);
    color: white;
    opacity: 0.7;
    cursor: pointer;
    transition: scale 0.3s ease-in-out;
  }
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-desktop::scroll-button(*):hover,
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-desktop::scroll-button(*):focus {
    opacity: 1;
    scale: 1.2;
  }
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-desktop::scroll-button(*):active {
    translate: 1px 1px;
  }
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-desktop::scroll-button(*):disabled {
    opacity: 0.2;
    cursor: inherit;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-portrait::scroll-button(left) {
    content: "\25c4";
    position: absolute;
    align-self: center;
    justify-self: flex-start;
    place-self: center flex-start;
    z-index: 50;
  }
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-portrait::scroll-button(right) {
    content: "\25ba";
    position: absolute;
    align-self: center;
    justify-self: flex-end;
    place-self: center flex-end;
    z-index: 50;
  }
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-portrait::scroll-button(*) {
    border: 1px solid black;
    border-radius: 10px;
    font-size: var(--scroll-button-font-size, calc(30 / var(--design-reference) * var(--screen-width)));
    background: rgba(0, 0, 0, 0.163);
    color: white;
    opacity: 0.7;
    cursor: pointer;
    transition: scale 0.3s ease-in-out;
  }
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-portrait::scroll-button(*):hover,
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-portrait::scroll-button(*):focus {
    opacity: 1;
    scale: 1.2;
  }
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-portrait::scroll-button(*):active {
    translate: 1px 1px;
  }
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-portrait::scroll-button(*):disabled {
    opacity: 0.2;
    cursor: inherit;
  }
}
@media screen and (max-width: 767px) {
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-mobile::scroll-button(left) {
    content: "\25c4";
    position: absolute;
    align-self: center;
    justify-self: flex-start;
    place-self: center flex-start;
    z-index: 50;
  }
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-mobile::scroll-button(right) {
    content: "\25ba";
    position: absolute;
    align-self: center;
    justify-self: flex-end;
    place-self: center flex-end;
    z-index: 50;
  }
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-mobile::scroll-button(*) {
    border: 1px solid black;
    border-radius: 10px;
    font-size: var(--scroll-button-font-size, calc(30 / var(--design-reference) * var(--screen-width)));
    background: rgba(0, 0, 0, 0.163);
    color: white;
    opacity: 0.7;
    cursor: pointer;
    transition: scale 0.3s ease-in-out;
  }
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-mobile::scroll-button(*):hover,
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-mobile::scroll-button(*):focus {
    opacity: 1;
    scale: 1.2;
  }
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-mobile::scroll-button(*):active {
    translate: 1px 1px;
  }
  .sub-group-container-v3__grid-container.grid-layout-container.scroll-btns-mobile::scroll-button(*):disabled {
    opacity: 0.2;
    cursor: inherit;
  }
}
@media screen and (min-width: 768px) {
  .sub-group-container-v3__grid-container.grid-layout-container {
    scroll-snap-type: none;
    scroll-snap-type: var(--scroll-snap-type-portrait, none);
  }
  .sub-group-container-v3__grid-container.grid-layout-container > div {
    scroll-snap-align: start;
    scroll-snap-align: var(--scroll-snap-align-portrait, start);
  }
  .sub-group-container-v3__grid-container.grid-layout-container {
    overflow: hidden;
    overflow: var(--container-overflow-type-portrait, hidden);
    grid-auto-flow: row;
    grid-auto-flow: var(--grid-auto-flow-portrait, row);
    grid-auto-columns: 1fr;
    grid-auto-columns: var(--grid-auto-columns-portrait, 1fr);
    grid-auto-rows: auto;
    grid-auto-rows: var(--grid-auto-rows-portrait, auto);
    grid-gap: calc(var(--global-inline-spacing) * 0) calc(var(--global-inline-spacing) * 0);
    grid-gap: calc(var(--global-inline-spacing) * var(--row-gap-mult-portrait, 0)) calc(var(--global-inline-spacing) * var(--column-gap-mult-portrait, 0));
    grid-template-columns: var(--grid-template-columns-custom-portrait, repeat(var(--grid-template-columns-portrait), 1fr));
    grid-template-columns: var(--grid-template-columns-custom-portrait, repeat(var(--grid-template-columns-portrait), var(--grid-auto-columns-portrait, 1fr)));
    grid-template-rows: var(--grid-template-rows-custom-portrait, repeat(var(--grid-template-rows-portrait), 1fr));
    grid-template-rows: var(--grid-template-rows-custom-portrait, repeat(var(--grid-template-rows-portrait), var(--grid-auto-rows-portrait, 1fr)));
  }
}
@media screen and (min-width: 1024px) {
  .sub-group-container-v3__grid-container.grid-layout-container {
    scroll-snap-type: none;
    scroll-snap-type: var(--scroll-snap-type-desktop, none);
  }
  .sub-group-container-v3__grid-container.grid-layout-container > div {
    scroll-snap-align: start;
    scroll-snap-align: var(--scroll-snap-align-desktop, start);
  }
  .sub-group-container-v3__grid-container.grid-layout-container {
    overflow: hidden;
    overflow: var(--container-overflow-type-desktop, hidden);
    grid-gap: calc(var(--global-inline-spacing) * 0) calc(var(--global-inline-spacing) * 0);
    grid-gap: calc(var(--global-inline-spacing) * var(--row-gap-mult-desktop, 0)) calc(var(--global-inline-spacing) * var(--column-gap-mult-desktop, 0));
    grid-auto-flow: row;
    grid-auto-flow: var(--grid-auto-flow-desktop, row);
    grid-auto-columns: 1fr;
    grid-auto-columns: var(--grid-auto-columns-desktop, 1fr);
    grid-auto-rows: auto;
    grid-auto-rows: var(--grid-auto-rows-desktop, auto);
    grid-template-columns: repeat(1, 1fr);
    grid-template-columns: var(--grid-template-columns-custom-desktop, repeat(var(--grid-template-columns-desktop, 1), var(--grid-auto-columns-desktop, 1fr)));
    grid-template-rows: var(--grid-template-rows-custom-desktop, repeat(var(--grid-template-rows-desktop), 1fr));
    grid-template-rows: var(--grid-template-rows-custom-desktop, repeat(var(--grid-template-rows-desktop), var(--grid-auto-rows-desktop, 1fr)));
  }
}
.sub-group-container-v3__block-container {
  z-index: 5;
  pointer-events: none;
  position: relative;
  display: grid;
  z-index: var(--element-z-index, 5);
  grid-row: var(--grid-row-start-mobile)/span var(--grid-row-span-mobile);
  grid-column: var(--grid-column-start-mobile)/span var(--grid-column-span-mobile);
  align-self: var(--grid-vertical-placement-mobile);
  justify-self: var(--grid-horizontal-placement-mobile);
  place-self: var(--grid-vertical-placement-mobile) var(--grid-horizontal-placement-mobile);
}
.sub-group-container-v3__block-container:has(> .subgrid-layout-mobile) {
  grid-template-rows: subgrid;
}
.sub-group-container-v3__block-container:has(> .subgrid-layout-mobile) > section {
  grid-row: 1/-1;
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .sub-group-container-v3__block-container {
    grid-row: var(--grid-row-start-portrait)/span var(--grid-row-span-portrait);
    grid-column: var(--grid-column-start-portrait)/span var(--grid-column-span-portrait);
    align-self: var(--grid-vertical-placement-portrait);
    justify-self: var(--grid-horizontal-placement-portrait);
    place-self: var(--grid-vertical-placement-portrait) var(--grid-horizontal-placement-portrait);
  }
  .sub-group-container-v3__block-container:has(> .subgrid-layout-portrait) {
    grid-template-rows: subgrid;
  }
  .sub-group-container-v3__block-container:has(> .subgrid-layout-portrait) > section {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 1024px) {
  .sub-group-container-v3__block-container {
    grid-row: var(--grid-row-start)/span var(--grid-row-span);
    grid-column: var(--grid-column-start)/span var(--grid-column-span);
    align-self: var(--grid-vertical-placement-desktop);
    justify-self: var(--grid-horizontal-placement-desktop);
    place-self: var(--grid-vertical-placement-desktop) var(--grid-horizontal-placement-desktop);
  }
  .sub-group-container-v3__block-container:has(> .subgrid-layout-desktop) {
    grid-template-rows: subgrid;
  }
  .sub-group-container-v3__block-container:has(> .subgrid-layout-desktop) > section {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }
}
