@charset "UTF-8";
.product-info-v3 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template: "main"/1fr;
}
.product-info-v3__inner-container {
  grid-area: main;
  align-self: var(--content-box-vert-align-mobile);
  justify-self: var(--content-box-horiz-align-mobile);
  place-self: var(--content-box-vert-align-mobile) var(--content-box-horiz-align-mobile);
  z-index: 5;
  z-index: var(--content-z-index, 5);
  overflow: var(--content-box-overflow);
  min-width: -moz-min-content;
  min-width: min-content;
  aspect-ratio: var(--content-box-aspect-ratio);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  border-color: var(--border-colour);
  border-style: var(--border-style);
  display: flex;
  flex-direction: column;
  flex-direction: var(--content-box-items-direction-mobile, column);
  justify-content: var(--content-items-alignment-mobile);
  align-items: center;
  background-color: var(--cb-bg-colour);
  padding: calc(var(--global-inline-spacing) * var(--content-box-top-padding-mult-mobile)) calc(var(--global-inline-spacing) * var(--content-box-right-padding-mult-mobile)) calc(var(--global-inline-spacing) * var(--content-box-bottom-padding-mult-mobile)) calc(var(--global-inline-spacing) * var(--content-box-left-padding-mult-mobile));
  margin: calc(var(--global-inline-spacing) * var(--content-box-top-margin-mobile)) calc(var(--global-inline-spacing) * var(--content-box-right-margin-mobile)) calc(var(--global-inline-spacing) * var(--content-box-bottom-margin-mobile)) calc(var(--global-inline-spacing) * var(--content-box-left-margin-mobile));
  -moz-column-gap: var(--content-items-micro-gap-mobile, calc(var(--content-items-gap-mobile) * var(--global-inline-spacing)));
  column-gap: var(--content-items-micro-gap-mobile, calc(var(--content-items-gap-mobile) * var(--global-inline-spacing)));
}
@media screen and (min-width: 768px) {
  .product-info-v3__inner-container {
    justify-content: var(--content-items-alignment-portrait);
    align-self: var(--content-box-vert-align-portrait);
    justify-self: var(--content-box-horiz-align-portrait);
    place-self: var(--content-box-vert-align-portrait) var(--content-box-horiz-align-portrait);
    padding: calc(var(--global-inline-spacing) * var(--content-box-top-padding-mult-portrait)) calc(var(--global-inline-spacing) * var(--content-box-right-padding-mult-portrait)) calc(var(--global-inline-spacing) * var(--content-box-bottom-padding-mult-portrait)) calc(var(--global-inline-spacing) * var(--content-box-left-padding-mult-portrait));
    margin: calc(var(--global-inline-spacing) * var(--content-box-top-margin-portrait)) calc(var(--global-inline-spacing) * var(--content-box-right-margin-portrait)) calc(var(--global-inline-spacing) * var(--content-box-bottom-margin-portrait)) calc(var(--global-inline-spacing) * var(--content-box-left-margin-portrait));
  }
}
@media screen and (min-width: 1024px) {
  .product-info-v3__inner-container {
    -moz-column-gap: var(--content-items-micro-gap-desktop, calc(var(--content-items-gap-desktop) * var(--global-inline-spacing)));
    column-gap: var(--content-items-micro-gap-desktop, calc(var(--content-items-gap-desktop) * var(--global-inline-spacing)));
    justify-content: var(--content-items-alignment);
    max-width: var(--cb-max-width);
    align-self: var(--content-box-vert-align);
    justify-self: var(--content-box-horiz-align);
    place-self: var(--content-box-vert-align) var(--content-box-horiz-align);
    padding: calc(var(--global-inline-spacing) * var(--content-box-top-padding-mult)) calc(var(--global-inline-spacing) * var(--content-box-right-padding-mult)) calc(var(--global-inline-spacing) * var(--content-box-bottom-padding-mult)) calc(var(--global-inline-spacing) * var(--content-box-left-padding-mult));
    margin: calc(var(--global-inline-spacing) * var(--content-box-top-margin)) calc(var(--global-inline-spacing) * var(--content-box-right-margin)) calc(var(--global-inline-spacing) * var(--content-box-bottom-margin)) calc(var(--global-inline-spacing) * var(--content-box-left-margin));
  }
}
.product-info-v3__inner-container {
  box-shadow: calc(var(--box-shadow-offset-x) / var(--desktop-design-reference) * var(--screen-width-static)) calc(var(--box-shadow-offset-y) / var(--desktop-design-reference) * var(--screen-width-static)) calc(var(--box-shadow-blur) / var(--desktop-design-reference) * var(--screen-width-static)) calc(var(--box-shadow-spread) / var(--desktop-design-reference) * var(--screen-width-static)) var(--box-shadow-colour);
}
.product-info-v3__content-box,
.product-info-v3__content-container {
  max-width: var(--wysiwyg-max-width-mobile);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  word-break: normal;
  width: 100%;
  width: var(--content-box-width, 100%);
  -webkit-text-stroke: calc(var(--text-stroke-width) / var(--desktop-design-reference) * var(--screen-width-static) * var(--font-size-multiplier)) var(--text-stroke-colour);
}
.product-info-v3__content-box:last-child,
.product-info-v3__content-container:last-child {
  margin-bottom: 0;
}
.product-info-v3__content-box,
.product-info-v3__content-container {
  color: var(--default-text-colour-mobile, var(--theme-primary-text-colour));
}
@media screen and (min-width: 768px) {
  .product-info-v3__content-box,
  .product-info-v3__content-container {
    color: var(--default-text-colour-portrait, var(--default-text-colour-desktop));
  }
}
@media screen and (min-width: 1024px) {
  .product-info-v3__content-box,
  .product-info-v3__content-container {
    color: var(--default-text-colour-desktop, var(--theme-primary-text-colour));
  }
}
.product-info-v3__content-box,
.product-info-v3__content-container {
  text-transform: var(--default-text-transform-mobile);
}
@media screen and (min-width: 768px) {
  .product-info-v3__content-box,
  .product-info-v3__content-container {
    text-transform: var(--default-text-transform-portrait, var(--default-text-transform-desktop));
  }
}
@media screen and (min-width: 1024px) {
  .product-info-v3__content-box,
  .product-info-v3__content-container {
    text-transform: var(--default-text-transform-desktop);
  }
}
.product-info-v3__content-box,
.product-info-v3__content-container {
  text-align: var(--default-text-align-mobile);
}
@media screen and (min-width: 768px) {
  .product-info-v3__content-box,
  .product-info-v3__content-container {
    text-align: var(--default-text-align-portrait, var(--default-text-align-desktop));
  }
}
@media screen and (min-width: 1024px) {
  .product-info-v3__content-box,
  .product-info-v3__content-container {
    text-align: var(--default-text-align-desktop);
  }
}
.product-info-v3__content-box,
.product-info-v3__content-container {
  display: block;
  display: var(--display-mobile, block);
}
@media screen and (min-width: 768px) {
  .product-info-v3__content-box,
  .product-info-v3__content-container {
    display: block;
    display: var(--display-portrait, block);
  }
}
@media screen and (min-width: 1024px) {
  .product-info-v3__content-box,
  .product-info-v3__content-container {
    display: block;
    display: var(--display-desktop, block);
  }
}
.product-info-v3__content-box p,
.product-info-v3__content-box h1,
.product-info-v3__content-box h2,
.product-info-v3__content-box h3,
.product-info-v3__content-box h4,
.product-info-v3__content-box h5,
.product-info-v3__content-box h6,
.product-info-v3__content-box a,
.product-info-v3__content-box li,
.product-info-v3__content-box div,
.product-info-v3__content-container p,
.product-info-v3__content-container h1,
.product-info-v3__content-container h2,
.product-info-v3__content-container h3,
.product-info-v3__content-container h4,
.product-info-v3__content-container h5,
.product-info-v3__content-container h6,
.product-info-v3__content-container a,
.product-info-v3__content-container li,
.product-info-v3__content-container div {
  font-weight: var(--default-font-weight-mobile, var(--default-font-weight));
}
@media screen and (min-width: 768px) {
  .product-info-v3__content-box p,
  .product-info-v3__content-box h1,
  .product-info-v3__content-box h2,
  .product-info-v3__content-box h3,
  .product-info-v3__content-box h4,
  .product-info-v3__content-box h5,
  .product-info-v3__content-box h6,
  .product-info-v3__content-box a,
  .product-info-v3__content-box li,
  .product-info-v3__content-box div,
  .product-info-v3__content-container p,
  .product-info-v3__content-container h1,
  .product-info-v3__content-container h2,
  .product-info-v3__content-container h3,
  .product-info-v3__content-container h4,
  .product-info-v3__content-container h5,
  .product-info-v3__content-container h6,
  .product-info-v3__content-container a,
  .product-info-v3__content-container li,
  .product-info-v3__content-container div {
    font-weight: var(--default-font-weight-portrait, var(--default-font-weight));
  }
}
@media screen and (min-width: 1024px) {
  .product-info-v3__content-box p,
  .product-info-v3__content-box h1,
  .product-info-v3__content-box h2,
  .product-info-v3__content-box h3,
  .product-info-v3__content-box h4,
  .product-info-v3__content-box h5,
  .product-info-v3__content-box h6,
  .product-info-v3__content-box a,
  .product-info-v3__content-box li,
  .product-info-v3__content-box div,
  .product-info-v3__content-container p,
  .product-info-v3__content-container h1,
  .product-info-v3__content-container h2,
  .product-info-v3__content-container h3,
  .product-info-v3__content-container h4,
  .product-info-v3__content-container h5,
  .product-info-v3__content-container h6,
  .product-info-v3__content-container a,
  .product-info-v3__content-container li,
  .product-info-v3__content-container div {
    font-weight: var(--default-font-weight-desktop, var(--default-font-weight));
  }
}
.product-info-v3__content-box p,
.product-info-v3__content-box h1,
.product-info-v3__content-box h2,
.product-info-v3__content-box h3,
.product-info-v3__content-box h4,
.product-info-v3__content-box h5,
.product-info-v3__content-box h6,
.product-info-v3__content-box a,
.product-info-v3__content-box li,
.product-info-v3__content-box div,
.product-info-v3__content-container p,
.product-info-v3__content-container h1,
.product-info-v3__content-container h2,
.product-info-v3__content-container h3,
.product-info-v3__content-container h4,
.product-info-v3__content-container h5,
.product-info-v3__content-container h6,
.product-info-v3__content-container a,
.product-info-v3__content-container li,
.product-info-v3__content-container div {
  font-style: var(--default-font-style-mobile);
}
@media screen and (min-width: 768px) {
  .product-info-v3__content-box p,
  .product-info-v3__content-box h1,
  .product-info-v3__content-box h2,
  .product-info-v3__content-box h3,
  .product-info-v3__content-box h4,
  .product-info-v3__content-box h5,
  .product-info-v3__content-box h6,
  .product-info-v3__content-box a,
  .product-info-v3__content-box li,
  .product-info-v3__content-box div,
  .product-info-v3__content-container p,
  .product-info-v3__content-container h1,
  .product-info-v3__content-container h2,
  .product-info-v3__content-container h3,
  .product-info-v3__content-container h4,
  .product-info-v3__content-container h5,
  .product-info-v3__content-container h6,
  .product-info-v3__content-container a,
  .product-info-v3__content-container li,
  .product-info-v3__content-container div {
    font-style: var(--default-font-style-portrait, var(--default-font-style-desktop));
  }
}
@media screen and (min-width: 1024px) {
  .product-info-v3__content-box p,
  .product-info-v3__content-box h1,
  .product-info-v3__content-box h2,
  .product-info-v3__content-box h3,
  .product-info-v3__content-box h4,
  .product-info-v3__content-box h5,
  .product-info-v3__content-box h6,
  .product-info-v3__content-box a,
  .product-info-v3__content-box li,
  .product-info-v3__content-box div,
  .product-info-v3__content-container p,
  .product-info-v3__content-container h1,
  .product-info-v3__content-container h2,
  .product-info-v3__content-container h3,
  .product-info-v3__content-container h4,
  .product-info-v3__content-container h5,
  .product-info-v3__content-container h6,
  .product-info-v3__content-container a,
  .product-info-v3__content-container li,
  .product-info-v3__content-container div {
    font-style: var(--default-font-style-desktop);
  }
}
@media screen and (min-width: 768px) {
  .product-info-v3__content-box,
  .product-info-v3__content-container {
    max-width: var(--wysiwyg-max-width-portrait);
  }
}
@media screen and (min-width: 1024px) {
  .product-info-v3__content-box,
  .product-info-v3__content-container {
    max-width: var(--wysiwyg-max-width);
  }
}
.product-info-v3--text-shadow {
  text-shadow: calc(var(--text-shadow-offset-x) / var(--desktop-design-reference) * var(--screen-width-static)) calc(var(--text-shadow-offset-y) / var(--desktop-design-reference) * var(--screen-width-static)) calc(var(--text-shadow-blur) / var(--desktop-design-reference) * var(--screen-width-static)) var(--text-shadow-colour);
}
.product-info-v3__cta-selection-container {
  width: 100%;
  display: var(--cta-container-display);
  grid-template-columns: var(--grid-columns-mobile);
  flex-wrap: wrap;
  flex-direction: var(--cta-flex-direction);
  justify-content: var(--cta-alignment-mobile);
  gap: calc(var(--global-inline-spacing) * var(--cta-spacing-gap-mobile));
}
@media screen and (min-width: 768px) {
  .product-info-v3__cta-selection-container {
    gap: calc(var(--global-inline-spacing) * var(--cta-spacing-gap-desktop));
    justify-content: var(--cta-alignment-portrait);
    grid-template-columns: var(--grid-columns-portrait);
  }
}
@media screen and (min-width: 1024px) {
  .product-info-v3__cta-selection-container {
    justify-content: var(--cta-alignment);
    grid-template-columns: var(--grid-columns-desktop);
  }
}
.product-info-v3 {
  display: "grid";
  display: var(--display-type, "grid");
  position: relative;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  scroll-snap-type: none;
  scroll-snap-type: var(--scroll-snap-type-mobile, none);
}
.product-info-v3 > div {
  scroll-snap-align: start;
  scroll-snap-align: var(--scroll-snap-align-mobile, start);
}
.product-info-v3 {
  overflow: hidden;
  overflow: var(--container-overflow-type-mobile, hidden);
  grid-gap: calc(var(--global-inline-spacing) * 0) calc(var(--global-inline-spacing) * 0);
  grid-gap: calc(var(--global-inline-spacing) * var(--row-gap-mult-mobile, 0)) calc(var(--global-inline-spacing) * var(--column-gap-mult-mobile, 0));
  grid-auto-flow: row;
  grid-auto-flow: var(--grid-auto-flow-mobile, row);
  grid-auto-columns: 1fr;
  grid-auto-columns: var(--grid-auto-columns-mobile, 1fr);
  grid-auto-rows: auto;
  grid-auto-rows: var(--grid-auto-rows-mobile, auto);
  grid-template-columns: var(--grid-template-columns-custom-mobile, repeat(var(--grid-template-columns-mobile), 1fr));
  grid-template-columns: var(--grid-template-columns-custom-mobile, repeat(var(--grid-template-columns-mobile), var(--grid-auto-columns-mobile, 1fr)));
  grid-template-rows: var(--grid-template-rows-custom-mobile, repeat(var(--grid-template-rows-mobile), 1fr));
  grid-template-rows: var(--grid-template-rows-custom-mobile, repeat(var(--grid-template-rows-mobile), var(--grid-auto-rows-mobile, 1fr)));
}
@media screen and (min-width: 1024px) {
  .product-info-v3.scroll-btns-desktop::scroll-button(left) {
    content: "\25c4";
    position: absolute;
    align-self: center;
    justify-self: flex-start;
    place-self: center flex-start;
    z-index: 50;
  }
  .product-info-v3.scroll-btns-desktop::scroll-button(right) {
    content: "\25ba";
    position: absolute;
    align-self: center;
    justify-self: flex-end;
    place-self: center flex-end;
    z-index: 50;
  }
  .product-info-v3.scroll-btns-desktop::scroll-button(*) {
    border: 1px solid black;
    border-radius: 10px;
    font-size: var(--scroll-button-font-size, calc(30 / var(--design-reference) * var(--screen-width)));
    background: rgba(0, 0, 0, 0.163);
    color: white;
    opacity: 0.7;
    cursor: pointer;
    transition: scale 0.3s ease-in-out;
  }
  .product-info-v3.scroll-btns-desktop::scroll-button(*):hover,
  .product-info-v3.scroll-btns-desktop::scroll-button(*):focus {
    opacity: 1;
    scale: 1.2;
  }
  .product-info-v3.scroll-btns-desktop::scroll-button(*):active {
    translate: 1px 1px;
  }
  .product-info-v3.scroll-btns-desktop::scroll-button(*):disabled {
    opacity: 0.2;
    cursor: inherit;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .product-info-v3.scroll-btns-portrait::scroll-button(left) {
    content: "\25c4";
    position: absolute;
    align-self: center;
    justify-self: flex-start;
    place-self: center flex-start;
    z-index: 50;
  }
  .product-info-v3.scroll-btns-portrait::scroll-button(right) {
    content: "\25ba";
    position: absolute;
    align-self: center;
    justify-self: flex-end;
    place-self: center flex-end;
    z-index: 50;
  }
  .product-info-v3.scroll-btns-portrait::scroll-button(*) {
    border: 1px solid black;
    border-radius: 10px;
    font-size: var(--scroll-button-font-size, calc(30 / var(--design-reference) * var(--screen-width)));
    background: rgba(0, 0, 0, 0.163);
    color: white;
    opacity: 0.7;
    cursor: pointer;
    transition: scale 0.3s ease-in-out;
  }
  .product-info-v3.scroll-btns-portrait::scroll-button(*):hover,
  .product-info-v3.scroll-btns-portrait::scroll-button(*):focus {
    opacity: 1;
    scale: 1.2;
  }
  .product-info-v3.scroll-btns-portrait::scroll-button(*):active {
    translate: 1px 1px;
  }
  .product-info-v3.scroll-btns-portrait::scroll-button(*):disabled {
    opacity: 0.2;
    cursor: inherit;
  }
}
@media screen and (max-width: 767px) {
  .product-info-v3.scroll-btns-mobile::scroll-button(left) {
    content: "\25c4";
    position: absolute;
    align-self: center;
    justify-self: flex-start;
    place-self: center flex-start;
    z-index: 50;
  }
  .product-info-v3.scroll-btns-mobile::scroll-button(right) {
    content: "\25ba";
    position: absolute;
    align-self: center;
    justify-self: flex-end;
    place-self: center flex-end;
    z-index: 50;
  }
  .product-info-v3.scroll-btns-mobile::scroll-button(*) {
    border: 1px solid black;
    border-radius: 10px;
    font-size: var(--scroll-button-font-size, calc(30 / var(--design-reference) * var(--screen-width)));
    background: rgba(0, 0, 0, 0.163);
    color: white;
    opacity: 0.7;
    cursor: pointer;
    transition: scale 0.3s ease-in-out;
  }
  .product-info-v3.scroll-btns-mobile::scroll-button(*):hover,
  .product-info-v3.scroll-btns-mobile::scroll-button(*):focus {
    opacity: 1;
    scale: 1.2;
  }
  .product-info-v3.scroll-btns-mobile::scroll-button(*):active {
    translate: 1px 1px;
  }
  .product-info-v3.scroll-btns-mobile::scroll-button(*):disabled {
    opacity: 0.2;
    cursor: inherit;
  }
}
@media screen and (min-width: 768px) {
  .product-info-v3 {
    scroll-snap-type: none;
    scroll-snap-type: var(--scroll-snap-type-portrait, none);
  }
  .product-info-v3 > div {
    scroll-snap-align: start;
    scroll-snap-align: var(--scroll-snap-align-portrait, start);
  }
  .product-info-v3 {
    overflow: hidden;
    overflow: var(--container-overflow-type-portrait, hidden);
    grid-auto-flow: row;
    grid-auto-flow: var(--grid-auto-flow-portrait, row);
    grid-auto-columns: 1fr;
    grid-auto-columns: var(--grid-auto-columns-portrait, 1fr);
    grid-auto-rows: auto;
    grid-auto-rows: var(--grid-auto-rows-portrait, auto);
    grid-gap: calc(var(--global-inline-spacing) * 0) calc(var(--global-inline-spacing) * 0);
    grid-gap: calc(var(--global-inline-spacing) * var(--row-gap-mult-portrait, 0)) calc(var(--global-inline-spacing) * var(--column-gap-mult-portrait, 0));
    grid-template-columns: var(--grid-template-columns-custom-portrait, repeat(var(--grid-template-columns-portrait), 1fr));
    grid-template-columns: var(--grid-template-columns-custom-portrait, repeat(var(--grid-template-columns-portrait), var(--grid-auto-columns-portrait, 1fr)));
    grid-template-rows: var(--grid-template-rows-custom-portrait, repeat(var(--grid-template-rows-portrait), 1fr));
    grid-template-rows: var(--grid-template-rows-custom-portrait, repeat(var(--grid-template-rows-portrait), var(--grid-auto-rows-portrait, 1fr)));
  }
}
@media screen and (min-width: 1024px) {
  .product-info-v3 {
    scroll-snap-type: none;
    scroll-snap-type: var(--scroll-snap-type-desktop, none);
  }
  .product-info-v3 > div {
    scroll-snap-align: start;
    scroll-snap-align: var(--scroll-snap-align-desktop, start);
  }
  .product-info-v3 {
    overflow: hidden;
    overflow: var(--container-overflow-type-desktop, hidden);
    grid-gap: calc(var(--global-inline-spacing) * 0) calc(var(--global-inline-spacing) * 0);
    grid-gap: calc(var(--global-inline-spacing) * var(--row-gap-mult-desktop, 0)) calc(var(--global-inline-spacing) * var(--column-gap-mult-desktop, 0));
    grid-auto-flow: row;
    grid-auto-flow: var(--grid-auto-flow-desktop, row);
    grid-auto-columns: 1fr;
    grid-auto-columns: var(--grid-auto-columns-desktop, 1fr);
    grid-auto-rows: auto;
    grid-auto-rows: var(--grid-auto-rows-desktop, auto);
    grid-template-columns: repeat(1, 1fr);
    grid-template-columns: var(--grid-template-columns-custom-desktop, repeat(var(--grid-template-columns-desktop, 1), var(--grid-auto-columns-desktop, 1fr)));
    grid-template-rows: var(--grid-template-rows-custom-desktop, repeat(var(--grid-template-rows-desktop), 1fr));
    grid-template-rows: var(--grid-template-rows-custom-desktop, repeat(var(--grid-template-rows-desktop), var(--grid-auto-rows-desktop, 1fr)));
  }
}
.product-info-v3__post-cover-link {
  grid-area: unset;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0;
}
.product-info-v3__post-cover-label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.product-info-v3__info-item {
  display: grid;
  z-index: 5;
  z-index: var(--element-z-index, 5);
  grid-row: var(--grid-row-start-mobile)/span var(--grid-row-span-mobile);
  grid-column: var(--grid-column-start-mobile)/span var(--grid-column-span-mobile);
  align-self: var(--grid-vertical-placement-mobile);
  justify-self: var(--grid-horizontal-placement-mobile);
  place-self: var(--grid-vertical-placement-mobile) var(--grid-horizontal-placement-mobile);
}
.product-info-v3__info-item:has(> .subgrid-layout-mobile) {
  grid-template-rows: subgrid;
}
.product-info-v3__info-item:has(> .subgrid-layout-mobile) > section {
  grid-row: 1/-1;
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .product-info-v3__info-item {
    grid-row: var(--grid-row-start-portrait)/span var(--grid-row-span-portrait);
    grid-column: var(--grid-column-start-portrait)/span var(--grid-column-span-portrait);
    align-self: var(--grid-vertical-placement-portrait);
    justify-self: var(--grid-horizontal-placement-portrait);
    place-self: var(--grid-vertical-placement-portrait) var(--grid-horizontal-placement-portrait);
  }
  .product-info-v3__info-item:has(> .subgrid-layout-portrait) {
    grid-template-rows: subgrid;
  }
  .product-info-v3__info-item:has(> .subgrid-layout-portrait) > section {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 1024px) {
  .product-info-v3__info-item {
    grid-row: var(--grid-row-start)/span var(--grid-row-span);
    grid-column: var(--grid-column-start)/span var(--grid-column-span);
    align-self: var(--grid-vertical-placement-desktop);
    justify-self: var(--grid-horizontal-placement-desktop);
    place-self: var(--grid-vertical-placement-desktop) var(--grid-horizontal-placement-desktop);
  }
  .product-info-v3__info-item:has(> .subgrid-layout-desktop) {
    grid-template-rows: subgrid;
  }
  .product-info-v3__info-item:has(> .subgrid-layout-desktop) > section {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }
}
.product-info-v3__info-item {
  width: 100%;
  position: relative;
}
.product-info-v3__content-container {
  width: 100%;
}
.product-info-v3__cta-selection-container {
  display: grid;
  z-index: 5;
  z-index: var(--element-z-index, 5);
  grid-row: var(--grid-row-start-mobile)/span var(--grid-row-span-mobile);
  grid-column: var(--grid-column-start-mobile)/span var(--grid-column-span-mobile);
  align-self: var(--grid-vertical-placement-mobile);
  justify-self: var(--grid-horizontal-placement-mobile);
  place-self: var(--grid-vertical-placement-mobile) var(--grid-horizontal-placement-mobile);
}
.product-info-v3__cta-selection-container:has(> .subgrid-layout-mobile) {
  grid-template-rows: subgrid;
}
.product-info-v3__cta-selection-container:has(> .subgrid-layout-mobile) > section {
  grid-row: 1/-1;
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .product-info-v3__cta-selection-container {
    grid-row: var(--grid-row-start-portrait)/span var(--grid-row-span-portrait);
    grid-column: var(--grid-column-start-portrait)/span var(--grid-column-span-portrait);
    align-self: var(--grid-vertical-placement-portrait);
    justify-self: var(--grid-horizontal-placement-portrait);
    place-self: var(--grid-vertical-placement-portrait) var(--grid-horizontal-placement-portrait);
  }
  .product-info-v3__cta-selection-container:has(> .subgrid-layout-portrait) {
    grid-template-rows: subgrid;
  }
  .product-info-v3__cta-selection-container:has(> .subgrid-layout-portrait) > section {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 1024px) {
  .product-info-v3__cta-selection-container {
    grid-row: var(--grid-row-start)/span var(--grid-row-span);
    grid-column: var(--grid-column-start)/span var(--grid-column-span);
    align-self: var(--grid-vertical-placement-desktop);
    justify-self: var(--grid-horizontal-placement-desktop);
    place-self: var(--grid-vertical-placement-desktop) var(--grid-horizontal-placement-desktop);
  }
  .product-info-v3__cta-selection-container:has(> .subgrid-layout-desktop) {
    grid-template-rows: subgrid;
  }
  .product-info-v3__cta-selection-container:has(> .subgrid-layout-desktop) > section {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }
}
.product-info-v3__cta {
  display: flex;
}
.product-info-v3__cta-style-post-colour,
.product-info-v3__cta-style-post-text-colour-style {
  padding-top: calc(10 / var(--design-reference) * var(--screen-width));
  padding-bottom: calc(10 / var(--design-reference) * var(--screen-width));
  padding-left: calc(20 / var(--design-reference) * var(--screen-width));
  padding-right: calc(20 / var(--design-reference) * var(--screen-width));
}
@media screen and (min-width: 768px) {
  .product-info-v3__cta-style-post-colour,
  .product-info-v3__cta-style-post-text-colour-style {
    padding-top: calc(10 / var(--design-reference) * var(--screen-width));
    padding-bottom: calc(10 / var(--design-reference) * var(--screen-width));
    padding-left: calc(20 / var(--design-reference) * var(--screen-width));
    padding-right: calc(20 / var(--design-reference) * var(--screen-width));
  }
}
@media screen and (min-width: 1024px) {
  .product-info-v3__cta-style-post-colour,
  .product-info-v3__cta-style-post-text-colour-style {
    padding-top: calc(10 / var(--design-reference) * var(--screen-width));
    padding-bottom: calc(10 / var(--design-reference) * var(--screen-width));
    padding-left: calc(20 / var(--design-reference) * var(--screen-width));
    padding-right: calc(20 / var(--design-reference) * var(--screen-width));
  }
}
.product-info-v3__cta-style-post-colour {
  color: var(--post-colour);
  border: 1px solid var(--post-colour);
}
.product-info-v3__cta-style-post-text-colour-style {
  color: var(--post-text-colour-style);
  border: 1px solid var(--post-text-colour-style);
}
.product-info-v3__post-link,
.product-info-v3__better-reviews {
  max-width: -moz-max-content;
  max-width: max-content;
}
.product-info-v3__gradient-overlay {
  height: 100%;
  --spread: calc(100% - var(--gradient-spread));
}
.product-info-v3__gradient-overlay__gradient-overlay-element {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--gradient-zindex);
  grid-area: var(--gradient-grid-area);
}
.product-info-v3__gradient-overlay__gradient-overlay-element::before,
.product-info-v3__gradient-overlay__gradient-overlay-element:after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: var(--gradient-opacity);
}
.product-info-v3__gradient-overlay__gradient-overlay-element::before {
  background:
    linear-gradient(
      var(--gradient-origin-before),
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) calc(var(--spread) - var(--gradient-amount)),
      var(--gradient-colour) calc(100% - var(--gradient-amount)));
}
.product-info-v3__gradient-overlay__gradient-overlay-element::after {
  content: var(--enable-after);
  background:
    linear-gradient(
      var(--gradient-origin-after),
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) calc(var(--spread) - var(--gradient-amount)),
      var(--gradient-colour) calc(100% - var(--gradient-amount)));
}
.product-info-v3__gradient-overlay__blur-overlay-element {
  background: var(--blur-colour);
  backdrop-filter: blur(var(--blur-value));
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--blur-zindex);
}
.product-info-v3__post-tags {
  pointer-events: none;
  display: flex;
  width: auto;
  display: grid;
  z-index: 5;
  z-index: var(--element-z-index, 5);
  grid-row: var(--grid-row-start-mobile)/span var(--grid-row-span-mobile);
  grid-column: var(--grid-column-start-mobile)/span var(--grid-column-span-mobile);
  align-self: var(--grid-vertical-placement-mobile);
  justify-self: var(--grid-horizontal-placement-mobile);
  place-self: var(--grid-vertical-placement-mobile) var(--grid-horizontal-placement-mobile);
}
.product-info-v3__post-tags:has(> .subgrid-layout-mobile) {
  grid-template-rows: subgrid;
}
.product-info-v3__post-tags:has(> .subgrid-layout-mobile) > section {
  grid-row: 1/-1;
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .product-info-v3__post-tags {
    grid-row: var(--grid-row-start-portrait)/span var(--grid-row-span-portrait);
    grid-column: var(--grid-column-start-portrait)/span var(--grid-column-span-portrait);
    align-self: var(--grid-vertical-placement-portrait);
    justify-self: var(--grid-horizontal-placement-portrait);
    place-self: var(--grid-vertical-placement-portrait) var(--grid-horizontal-placement-portrait);
  }
  .product-info-v3__post-tags:has(> .subgrid-layout-portrait) {
    grid-template-rows: subgrid;
  }
  .product-info-v3__post-tags:has(> .subgrid-layout-portrait) > section {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 1024px) {
  .product-info-v3__post-tags {
    grid-row: var(--grid-row-start)/span var(--grid-row-span);
    grid-column: var(--grid-column-start)/span var(--grid-column-span);
    align-self: var(--grid-vertical-placement-desktop);
    justify-self: var(--grid-horizontal-placement-desktop);
    place-self: var(--grid-vertical-placement-desktop) var(--grid-horizontal-placement-desktop);
  }
  .product-info-v3__post-tags:has(> .subgrid-layout-desktop) {
    grid-template-rows: subgrid;
  }
  .product-info-v3__post-tags:has(> .subgrid-layout-desktop) > section {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }
}
.product-info-v3__post-image-container {
  display: grid;
  grid-template: "main"/1fr;
}
.product-info-v3__post-image-container--image-accent {
  position: relative;
}
.product-info-v3__post-image-container--image-accent img,
.product-info-v3__post-image-container--image-accent svg {
  margin: 0;
  margin: initial;
  position: relative;
  position: var(--element-position, relative);
  z-index: var(--element-z-index);
  align-self: var(--mobile-vertical-placement);
  justify-self: var(--mobile-horizontal-placement);
  place-self: var(--mobile-vertical-placement) var(--mobile-horizontal-placement);
  translate: 0 0;
  translate: var(--element-horizontal-offset-mobile, 0) var(--element-vertical-offset-mobile, 0);
  rotate: 0deg;
  rotate: var(--element-rotation-mobile, 0deg);
}
@media screen and (min-width: 1024px) {
  .product-info-v3__post-image-container--image-accent img,
  .product-info-v3__post-image-container--image-accent svg {
    align-self: var(--desktop-vertical-placement);
    justify-self: var(--desktop-horizontal-placement);
    place-self: var(--desktop-vertical-placement) var(--desktop-horizontal-placement);
    translate: 0 0;
    translate: var(--element-horizontal-offset-desktop, 0) var(--element-vertical-offset-desktop, 0);
    rotate: 0deg;
    rotate: var(--element-rotation-desktop, 0deg);
  }
}
.product-info-v3__post__image {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  grid-area: main;
  height: auto;
  aspect-ratio: var(--image-aspect-ratio-mobile, var(--image-aspect-ratio-desktop));
  display: grid;
  z-index: 5;
  z-index: var(--element-z-index, 5);
  grid-row: var(--grid-row-start-mobile)/span var(--grid-row-span-mobile);
  grid-column: var(--grid-column-start-mobile)/span var(--grid-column-span-mobile);
  align-self: var(--grid-vertical-placement-mobile);
  justify-self: var(--grid-horizontal-placement-mobile);
  place-self: var(--grid-vertical-placement-mobile) var(--grid-horizontal-placement-mobile);
}
.product-info-v3__post__image:has(> .subgrid-layout-mobile) {
  grid-template-rows: subgrid;
}
.product-info-v3__post__image:has(> .subgrid-layout-mobile) > section {
  grid-row: 1/-1;
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .product-info-v3__post__image {
    grid-row: var(--grid-row-start-portrait)/span var(--grid-row-span-portrait);
    grid-column: var(--grid-column-start-portrait)/span var(--grid-column-span-portrait);
    align-self: var(--grid-vertical-placement-portrait);
    justify-self: var(--grid-horizontal-placement-portrait);
    place-self: var(--grid-vertical-placement-portrait) var(--grid-horizontal-placement-portrait);
  }
  .product-info-v3__post__image:has(> .subgrid-layout-portrait) {
    grid-template-rows: subgrid;
  }
  .product-info-v3__post__image:has(> .subgrid-layout-portrait) > section {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 1024px) {
  .product-info-v3__post__image {
    grid-row: var(--grid-row-start)/span var(--grid-row-span);
    grid-column: var(--grid-column-start)/span var(--grid-column-span);
    align-self: var(--grid-vertical-placement-desktop);
    justify-self: var(--grid-horizontal-placement-desktop);
    place-self: var(--grid-vertical-placement-desktop) var(--grid-horizontal-placement-desktop);
  }
  .product-info-v3__post__image:has(> .subgrid-layout-desktop) {
    grid-template-rows: subgrid;
  }
  .product-info-v3__post__image:has(> .subgrid-layout-desktop) > section {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }
}
.product-info-v3__post__image {
  width: var(--post-image-width-mobile);
}
@media screen and (min-width: 768px) {
  .product-info-v3__post__image {
    aspect-ratio: var(--image-aspect-ratio-portrait);
  }
}
@media screen and (min-width: 1024px) {
  .product-info-v3__post__image {
    width: var(--post-image-width-desktop);
    aspect-ratio: var(--image-aspect-ratio-desktop);
  }
}
.product-info-v3__post__image {
  -o-object-fit: var(--image-fit-style);
  object-fit: var(--image-fit-style);
  margin: auto;
}
.product-info-v3__global-image {
  z-index: var(--global-image-zindex);
  max-width: var(--global-image-max-width);
  min-height: 100%;
}
.product-info-v3__global-image__picture {
  width: var(--global-image-width);
  display: flex;
  position: var(--global-image-position);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.product-info-v3__global-image__image {
  -o-object-fit: var(--global-image-fit-style);
  object-fit: var(--global-image-fit-style);
}
.product-info-v3__product-logo {
  max-width: calc(var(--logo-max-width-mobile) / var(--design-reference) * var(--screen-width));
}
@media screen and (min-width: 1024px) {
  .product-info-v3__product-logo {
    max-width: calc(var(--logo-max-width-desktop) / var(--design-reference) * var(--screen-width));
  }
}
.product-info-v3__person-rating {
  display: flex;
  gap: 1em;
}
.product-info-v3__person-rating-star {
  --rating-star-colour: gold;
  width: calc(20 / var(--desktop-design-reference) * var(--screen-width-static));
}
.product-info-v3__person-questionaire-list {
  list-style-type: none;
}
.product-info-v3__person-email {
  display: flex;
  gap: 1em;
}
.product-info-v3__person-email-icon {
  width: 1em;
}
.product-info-v3__post-text-alternative-style {
  width: auto;
  display: grid;
  z-index: 5;
  z-index: var(--element-z-index, 5);
  grid-row: var(--grid-row-start-mobile)/span var(--grid-row-span-mobile);
  grid-column: var(--grid-column-start-mobile)/span var(--grid-column-span-mobile);
  align-self: var(--grid-vertical-placement-mobile);
  justify-self: var(--grid-horizontal-placement-mobile);
  place-self: var(--grid-vertical-placement-mobile) var(--grid-horizontal-placement-mobile);
}
.product-info-v3__post-text-alternative-style:has(> .subgrid-layout-mobile) {
  grid-template-rows: subgrid;
}
.product-info-v3__post-text-alternative-style:has(> .subgrid-layout-mobile) > section {
  grid-row: 1/-1;
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .product-info-v3__post-text-alternative-style {
    grid-row: var(--grid-row-start-portrait)/span var(--grid-row-span-portrait);
    grid-column: var(--grid-column-start-portrait)/span var(--grid-column-span-portrait);
    align-self: var(--grid-vertical-placement-portrait);
    justify-self: var(--grid-horizontal-placement-portrait);
    place-self: var(--grid-vertical-placement-portrait) var(--grid-horizontal-placement-portrait);
  }
  .product-info-v3__post-text-alternative-style:has(> .subgrid-layout-portrait) {
    grid-template-rows: subgrid;
  }
  .product-info-v3__post-text-alternative-style:has(> .subgrid-layout-portrait) > section {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 1024px) {
  .product-info-v3__post-text-alternative-style {
    grid-row: var(--grid-row-start)/span var(--grid-row-span);
    grid-column: var(--grid-column-start)/span var(--grid-column-span);
    align-self: var(--grid-vertical-placement-desktop);
    justify-self: var(--grid-horizontal-placement-desktop);
    place-self: var(--grid-vertical-placement-desktop) var(--grid-horizontal-placement-desktop);
  }
  .product-info-v3__post-text-alternative-style:has(> .subgrid-layout-desktop) {
    grid-template-rows: subgrid;
  }
  .product-info-v3__post-text-alternative-style:has(> .subgrid-layout-desktop) > section {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }
}
