toggle-trigger {
	display: block;
	.toggle-trigger__button {
		display: block;
		appearance: none;
		color: var(--theme-primary-text-colour, white);
		border: 1px solid transparent;
		background-color: var(--theme-primary-background-colour, black);
	}
}
