toggle-trigger {
	grid-area: toggleclass;
	display: grid;
	width: 100%;
	place-items: center;
	.toggle-trigger__button {
		display: block;
		appearance: none;
		color: var(--theme-primary-text-colour, white);
		border: 1px solid transparent;
		background-color: var(--theme-primary-background-colour, black);
	}
}
