@use '../component-content-image-v3/content-image-v3';
@use '../component-nav-menu-v3/nav-menu-v3';
@use '../component-accent-text-v3/accent-text-v3';
@use '../component-content-container-settings-v3/content-container-settings-v3';
@use '../component-blockquote-v3/blockquote-v3';
@use '../component-social-media-share-v3/social-media-share-v3';

@mixin contentContainer() {
	@include nav-menu-v3.navMenu();
	@include accent-text-v3.accent-text();
	@include content-container-settings-v3.contentContainerSettings();
	@include blockquote-v3.blockquote();
	@include social-media-share-v3.social-media-share();

	&__video-play-button-container {
		display: grid;
		width: 100%;
		pointer-events: all;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__video-play-button {
		grid-area: unset;
		place-self: var(--playbutton-vertical-alignment, center)
			var(--playbutton-horizontal-alignment, center);
	}
	&__content-image {
		@include content-image-v3.contentImage();
	}
}
