@use 'Assets/scss/theme/breakpoints';
@use 'Assets/scss/modules/library-modules/core-mixins-v3/core-mixins-v3';
@use 'Assets/scss/modules/library-modules/core-functions-v3/core-functions-v3';

@mixin gridLayoutContainer() {
	display: grid;
	position: relative;
	grid-auto-flow: var(--grid-auto-flow-mobile, row);
	--grid-auto-columns-custom-size: #{core-functions-v3.fluidSize(
			var(--grid-auto-columns-custom),
			'static'
		)};
	grid-auto-columns: var(--grid-auto-columns, auto);
	grid-gap: calc(var(--global-inline-spacing) * var(--row-gap-mult-mobile, 0))
		calc(var(--global-inline-spacing) * var(--column-gap-mult-mobile, 0));
	grid-template-columns: var(
		--grid-template-columns-custom-mobile,
		repeat(
			var(--grid-columns-mobile, 1),
			var(--grid-auto-columns-custom-size, var(--grid-auto-columns, auto))
		)
	);
	grid-template-rows: var(--grid-template-rows-custom-mobile);
	grid-auto-rows: var(--grid-auto-rows);

	@include core-mixins-v3.device(breakpoints.$tabPortrait) {
		grid-gap: calc(
				var(--global-inline-spacing) * var(--row-gap-mult-portrait, 0)
			)
			calc(
				var(--global-inline-spacing) *
					var(--column-gap-mult-portrait, 0)
			);
		grid-template-columns: var(
			--grid-template-columns-custom-portrait,
			repeat(
				var(--grid-columns-portrait, 1),
				var(
					--grid-auto-columns-custom-size,
					var(--grid-auto-columns, auto)
				)
			)
		);
		grid-template-rows: var(--grid-template-rows-custom-portrait);
	}

	@include core-mixins-v3.device(breakpoints.$tabLandscape) {
		grid-gap: calc(
				var(--global-inline-spacing) * var(--row-gap-mult-desktop, 0)
			)
			calc(
				var(--global-inline-spacing) * var(--column-gap-mult-desktop, 0)
			);
		grid-template-columns: var(
			--grid-template-columns-custom-desktop,
			repeat(var(--grid-columns-desktop, 1), 1fr)
		);
		grid-auto-flow: var(--grid-auto-flow-desktop, row);
		grid-template-rows: var(--grid-template-rows-custom-desktop);
	}
}
