@use '../fields-core-mixins-v3/core-mixins-v3';
@use '../fields-core-functions-v3/core-functions-v3';
@use '../../breakpoints';

@mixin contentImageV3() {
	width: 100%;
	height: auto;
	place-self: var(--image-position-horizontal) var(--image-position-vertical);
	translate: var(--image-position-offset-horizontal)
		var(--image-position-offset-vertical);
	rotate: var(--image-rotation);
	z-index: -1;
	border-radius: var(--content-image-border-radius);
	max-width: core-functions-v3.fluidSize(
		var(--image-max-width-mobile),
		'mobile'
	);
	@include core-mixins-v3.device(breakpoints.$tabPortrait) {
		max-width: core-functions-v3.fluidSize(
			var(--image-max-width-portrait),
			'portrait'
		);
	}
	@include core-mixins-v3.device(breakpoints.$tabLandscape) {
		max-width: core-functions-v3.fluidSize(
			var(--image-max-width-desktop),
			'desktop'
		);
	}
	&__content-image-link {
		pointer-events: all;
	}
}
