@use '../fields-core-mixins/core-mixins';
@use '../fields-core-functions/core-functions';
@use '../component-breakpoints/breakpoints';
@use './form-selection-extra';
@use 'Assets/scss/theme/buttons';

.form-container {
	&__modal {
		display: none;
		position: fixed;
		width: 100vw;
		z-index: 9998;
		background-color: rgba(0, 0, 0, 0.4);
		height: 100vh;
	}
	&__modal-inner {
		overflow-y: scroll;
		width: 100vw;
		z-index: 9999;
		height: 100%;
	}
	&__modal-close {
		@include buttons.closeButton();
		position: absolute;
		top: core-functions.fluidSize(0, 'mobile');
		@include core-mixins.device(breakpoints.$tabPortrait) {
			top: core-functions.fluidSize(20, 'portrait');
		}
		@include core-mixins.device(breakpoints.$tabLandscape) {
			top: core-functions.fluidSize(20, 'desktop');
		}
		right: core-functions.fluidSize(0, 'mobile');
		@include core-mixins.device(breakpoints.$tabPortrait) {
			right: core-functions.fluidSize(20, 'portrait');
		}
		@include core-mixins.device(breakpoints.$tabLandscape) {
			right: core-functions.fluidSize(20, 'desktop');
		}
	}
	@include form-selection-extra.additionalStyles();
}
